@font-face {
  font-family: twk;
  src: url("../twk/TWKEverett-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: twk;
  src: url("../twk/TWKEverett-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: hell;
  src: url("../Helvetica-Font/Helvetica.ttf");
  font-weight: 400;
}
@font-face {
  font-family: hell;
  src: url("../Helvetica-Font/helvetica-light-587ebe5a59211.ttf");
  font-weight: 300;
}
@font-face {
  font-family: gt;
  src: url("../GT-ALPINA/GT-Alpina-Standard-Regular-Trial.ttf");
  font-weight: 300;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: hell, sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}
img.icon {
  width: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

section,
main,
header,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .wrapper,
main .wrapper,
header .wrapper,
footer .wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 8rem 4rem;
}
@media (max-width: 700px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 1rem;
  }
}

h1 {
  font-size: 96px;
  line-height: 1.2;
  color: white;
  font-weight: 700;
  font-family: twk;
}
h1 span {
  color: #403579;
  font-weight: 700;
}
h1 .line {
  overflow: hidden;
}
h1 .char {
  font-size: 96px;
  font-family: twk;
  font-weight: 700;
}
@media (max-width: 700px) {
  h1 {
    font-size: 64px;
  }
  h1 .line {
    overflow: hidden;
  }
  h1 .char {
    font-size: 64px;
    font-family: twk;
    font-weight: 700;
  }
}

h2 {
  font-size: 48px;
  line-height: 1.2;
  color: white;
  font-weight: 700;
  font-family: twk;
}
h2 span {
  color: #403579;
  font-weight: 700;
}
@media (max-width: 700px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 24px;
  line-height: 1.2;
  color: white;
  font-weight: 700;
  font-family: twk;
}
@media (max-width: 700px) {
  h3 {
    font-size: 20px;
  }
}

p {
  line-height: 1.6;
  font-weight: 300;
  font-size: 16px;
}
p.tagline {
  font-size: 14px;
}
p.large {
  font-size: 24px;
  line-height: 1.2;
}
@media (max-width: 380px) {
  p.large {
    font-size: 20px;
  }
}
p.number {
  font-size: 48px;
  line-height: 1.2;
  font-family: twk;
}

.purple {
  color: #403579;
}

button {
  font-weight: 700;
  padding: 1rem 2.5rem;
  cursor: pointer;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}
button.primary-button {
  border: 1px solid #403579;
  color: white;
  background-color: #403579;
}
button.secondary-button {
  border: 1px solid white;
  color: white;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  max-height: 3rem;
  overflow: hidden;
}
button span {
  height: 1rem;
  border: 1px solid white;
}

header {
  position: absolute;
  z-index: 10;
}
header .header-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-wrapper nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
header .header-wrapper nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
header .header-wrapper nav ul li {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-wrapper .header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  header nav {
    display: none !important;
  }
}
@media (max-width: 700px) {
  header .header-wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  header .header-wrapper {
    padding-inline: 1rem;
  }
}

.menu .open {
  cursor: pointer !important;
}
.menu .overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  background-color: white;
  width: 100%;
  height: 100%;
  inset: 0;
  padding: 4rem;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  opacity: 0;
  background-color: #403579;
}
.menu .overlay button {
  color: white;
}
.menu .overlay .close {
  cursor: pointer !important;
  z-index: 10;
}
.menu .overlay button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
}
.menu .overlay ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.menu .overlay ul li {
  color: white;
  font-weight: 700;
  font-size: 24px;
}

main {
  background-image: url(../home-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 95svh;
  max-height: 950px;
  background-attachment: fixed;
}
main .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-block: 5rem;
  padding-block-start: 12rem;
  height: 100%;
}
main .wrapper .main-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
main .wrapper .main-top > h1 {
  transform: translateY(14rem);
  max-width: 12ch;
  text-align: center;
  line-height: 1;
}
main .wrapper .main-top p {
  font-size: 24px;
  color: white;
  text-align: center;
  font-weight: 400;
}
main .wrapper .main-bottom {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
main .wrapper .main-bottom .main-bottom-left {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2rem;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: -webkit-clip-path 1000ms ease;
  transition: clip-path 1000ms ease;
  transition: clip-path 1000ms ease, -webkit-clip-path 1000ms ease;
}
main .wrapper .main-bottom .main-bottom-left p {
  color: white;
  max-width: 40ch;
}
main .wrapper .main-bottom .main-bottom-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
main .wrapper .main-bottom .main-bottom-right .stat-item {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-left: 1px solid white;
  padding-inline: 0.5rem;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 300ms ease;
  transition: clip-path 300ms ease;
  transition: clip-path 300ms ease, -webkit-clip-path 300ms ease;
}
main .wrapper .main-bottom .main-bottom-right .stat-item .number-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 300ms ease;
  transition: clip-path 300ms ease;
  transition: clip-path 300ms ease, -webkit-clip-path 300ms ease;
}
main .wrapper .main-bottom .main-bottom-right .stat-item:nth-child(1) {
  border: none !important;
}
main .wrapper .main-bottom .main-bottom-right .stat-item > p {
  max-width: 10ch;
  line-height: 1.2;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 300ms ease;
  transition: clip-path 300ms ease;
  transition: clip-path 300ms ease, -webkit-clip-path 300ms ease;
}
@media (max-width: 1024px) {
  main {
    height: 100svh;
  }
  main .wrapper .main-bottom {
    flex-direction: column;
    align-items: center !important;
    gap: 4rem;
  }
  main .wrapper .main-bottom .main-bottom-left {
    gap: 1rem;
  }
  main .wrapper .main-bottom .main-bottom-left p {
    max-width: 45ch;
  }
  main .wrapper .main-bottom .main-bottom-right .stat-item {
    padding-inline: 2rem;
  }
}
@media (max-width: 700px) {
  main .wrapper .main-top p {
    font-size: 20px !important;
    line-height: 1.2;
    max-width: 16ch;
    text-wrap: balance !important;
  }
  main .wrapper .main-bottom .main-bottom-left p {
    font-size: 14px !important;
    max-width: 28ch;
  }
  main .wrapper .main-bottom .main-bottom-right .stat-item {
    padding-inline: 0.5rem;
  }
}
@media (max-width: 394px) {
  main .wrapper .main-top > svg {
    width: clamp(225px, 85vw, 300px);
  }
  main .wrapper .main-bottom .main-bottom-left p {
    font-size: 14px !important;
  }
  main .wrapper .main-bottom .main-bottom-right .stat-item > p {
    max-width: 10ch;
    line-height: 1.2;
    font-size: 14px;
  }
  main .wrapper .main-bottom .main-bottom-right .stat-item .number-item .number {
    font-size: 32px;
  }
}

.excellence-section {
  border-radius: 2rem !important;
  margin-top: -1.5rem;
  background-color: white;
}
.excellence-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24rem;
}
.excellence-section .wrapper .excellence-slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  place-content: center;
  align-items: start;
  min-height: 100vh;
  width: 100%;
}
.excellence-section .wrapper .excellence-slider .excellence-slider-left {
  width: 100%;
  position: relative;
}
.excellence-section .wrapper .excellence-slider .excellence-slider-left img {
  position: absolute;
  top: 20%;
  border-radius: 16rem;
}
.excellence-section .wrapper .excellence-slider .excellence-slider-left img.slide-two, .excellence-section .wrapper .excellence-slider .excellence-slider-left img.slide-three, .excellence-section .wrapper .excellence-slider .excellence-slider-left img.slide-four, .excellence-section .wrapper .excellence-slider .excellence-slider-left img.slide-five, .excellence-section .wrapper .excellence-slider .excellence-slider-left img.slide-six, .excellence-section .wrapper .excellence-slider .excellence-slider-left img.slide-seven, .excellence-section .wrapper .excellence-slider .excellence-slider-left img.slide-eight {
  opacity: 0;
}
.excellence-section .wrapper .excellence-slider .excellence-slider-right {
  display: grid;
  width: 100%;
  gap: 20rem;
  align-self: center;
}
.excellence-section .wrapper .excellence-slider .excellence-slider-right .excellence-slider-item {
  display: grid;
  padding: 2rem;
}
.excellence-section .wrapper .excellence-slider .excellence-slider-right .excellence-slider-item h3 {
  color: #030303;
  margin-block: 1rem 0.5rem;
}
.excellence-section .wrapper .excellence-slider .excellence-slider-right .excellence-slider-item p {
  max-width: 40ch;
}
.excellence-section .wrapper .excellence-titles {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.excellence-section .wrapper .excellence-titles .excellence-titles-left h2 {
  color: #030303;
  max-width: 12ch;
}
.excellence-section .wrapper .excellence-titles .excellence-titles-right p {
  max-width: 50ch;
}
@media (max-width: 1024px) {
  .excellence-section .excellence-titles {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 2rem;
  }
}
@media (max-width: 825px) {
  .excellence-section .wrapper {
    gap: 12rem;
  }
  .excellence-section .wrapper .excellence-slider {
    display: grid;
    grid-template-columns: 1fr;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    place-content: center;
    align-items: start;
    min-height: auto;
    width: 100%;
  }
  .excellence-section .wrapper .excellence-slider .excellence-slider-left {
    display: none;
  }
  .excellence-section .wrapper .excellence-slider .excellence-slider-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100% !important;
    gap: 2rem !important;
    align-self: center;
  }
  .excellence-section .wrapper .excellence-slider .excellence-slider-right .excellence-slider-item {
    display: grid;
    padding: 1rem;
  }
  .excellence-section .wrapper .excellence-slider .excellence-slider-right .excellence-slider-item h3 {
    color: #030303;
    margin-block: 1rem 0.5rem;
  }
  .excellence-section .wrapper .excellence-slider .excellence-slider-right .excellence-slider-item p {
    max-width: 100%;
  }
  .excellence-section .wrapper .excellence-slider .excellence-slider-right .empty {
    display: none;
  }
}
@media (max-width: 600px) {
  .excellence-section .wrapper .excellence-slider .excellence-slider-right {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 340px) {
  .excellence-section .wrapper .excellence-slider .excellence-slider-right {
    grid-template-columns: 1fr;
  }
}

.values-section .wrapper {
  padding-block-start: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16rem;
}
.values-section .wrapper .values-titles h2 {
  text-align: center;
  color: #030303;
  max-width: 22ch;
}
.values-section .wrapper .values-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  gap: 2rem;
}
@media (max-width: 700px) {
  .values-section .wrapper .values-list {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .values-section .wrapper .values-list {
    flex-direction: column;
    gap: 4rem;
  }
}
.values-section .wrapper .values-list .values-list-left,
.values-section .wrapper .values-list .values-list-right {
  display: grid;
  gap: 2rem;
}
.values-section .wrapper .values-list .values-list-left .values-list-item,
.values-section .wrapper .values-list .values-list-right .values-list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.values-section .wrapper .values-list .values-list-left .values-list-item svg,
.values-section .wrapper .values-list .values-list-right .values-list-item svg {
  width: 50px !important;
  height: 50px !important;
  flex-shrink: 0;
}
.values-section .wrapper .values-list .values-list-left .values-list-item p,
.values-section .wrapper .values-list .values-list-right .values-list-item p {
  line-height: 1.2;
  font-weight: 500;
  font-size: 24px;
}

footer .wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  padding-block-end: 0rem;
}
footer .wrapper .footer-top {
  width: 75%;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer .wrapper .footer-top .column {
  height: 100%;
  display: flex;
  align-items: flex-start;
}
footer .wrapper .footer-top .column ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
footer .wrapper .footer-top .column ul li,
footer .wrapper .footer-top .column ul a {
  color: #030303;
}
@media (max-width: 500px) {
  footer .wrapper .footer-top {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  footer .wrapper .footer-top .column:nth-child(2), footer .wrapper .footer-top .column:nth-child(4), footer .wrapper .footer-top .column:nth-child(3) {
    grid-row: 2;
  }
}
@media (max-width: 409px) {
  footer .wrapper .footer-top {
    grid-template-columns: 1fr;
    width: 100%;
  }
  footer .wrapper .footer-top .column:nth-child(2), footer .wrapper .footer-top .column:nth-child(4), footer .wrapper .footer-top .column:nth-child(3) {
    grid-row: auto;
  }
}
footer .wrapper .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-block-start: 0.5px solid black;
  padding-block-start: 2rem;
  padding-block-end: 0;
}
@media (max-width: 327px) {
  footer .wrapper .footer-bottom {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 2rem;
  }
}
footer .wrapper .footer-bottom p {
  font-size: 14px;
}
footer .wrapper .h0 {
  font-size: 192px;
  font-weight: 900;
  line-height: 1;
  align-self: start;
  margin-top: -2rem;
  margin-bottom: 0;
}
footer .wrapper .h0 span {
  margin-inline-start: -1rem;
}
footer .wrapper .h0 span svg {
  width: 35px;
  height: -moz-max-content;
  height: max-content;
}
@media (max-width: 700px) {
  footer .wrapper .h0 span svg {
    width: 15px;
  }
}

.loader {
  position: fixed;
  background-color: white;
  height: 100vh;
  z-index: 10;
  width: 100%;
  transition: 300ms ease;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.loader img {
  width: 25%;
  position: absolute;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 300ms ease;
  transition: clip-path 300ms ease;
  transition: clip-path 300ms ease, -webkit-clip-path 300ms ease;
}/*# sourceMappingURL=style.css.map */