@font-face {
  font-family: twk;
  src: url("../twk/TWKEverett-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: twk;
  src: url("../twk/TWKEverett-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: hell;
  src: url("../Helvetica-Font/Helvetica.ttf");
  font-weight: 400;
}
@font-face {
  font-family: hell;
  src: url("../Helvetica-Font/helvetica-light-587ebe5a59211.ttf");
  font-weight: 300;
}
@font-face {
  font-family: gt;
  src: url("../GT-ALPINA/GT-Alpina-Standard-Regular-Trial.ttf");
  font-weight: 300;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: hell, sans-serif;
  font-weight: 400;
}

img {
  width: 100%;
}
img.icon {
  width: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

section,
main,
header,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .wrapper,
main .wrapper,
header .wrapper,
footer .wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 8rem 4rem;
}
@media (max-width: 700px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 1rem;
  }
}

h1 {
  font-size: 96px;
  line-height: 1.2;
  color: white;
  font-weight: 700;
  font-family: twk;
}
h1 span {
  color: #403579;
  font-weight: 700;
}
h1 .line {
  overflow: hidden;
}
h1 .char {
  font-size: 96px;
  font-family: twk;
  font-weight: 700;
}
@media (max-width: 700px) {
  h1 {
    font-size: 64px;
  }
  h1 .line {
    overflow: hidden;
  }
  h1 .char {
    font-size: 64px;
    font-family: twk;
    font-weight: 700;
  }
}

h2 {
  font-size: 48px;
  line-height: 1.2;
  color: white;
  font-weight: 700;
  font-family: twk;
}
h2 span {
  color: #403579;
  font-weight: 700;
}
@media (max-width: 700px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 24px;
  line-height: 1.2;
  color: white;
  font-weight: 700;
  font-family: twk;
}
@media (max-width: 700px) {
  h3 {
    font-size: 20px;
  }
}

p {
  line-height: 1.6;
  font-weight: 300;
  font-size: 16px;
}
p.tagline {
  font-size: 14px;
}
p.large {
  font-size: 24px;
  line-height: 1.2;
}
@media (max-width: 380px) {
  p.large {
    font-size: 20px;
  }
}
p.number {
  font-size: 48px;
  line-height: 1.2;
  font-family: twk;
}
@media (max-width: 700px) {
  p {
    font-size: 14px;
  }
}

.purple {
  color: #403579;
  font-weight: 700 !important;
}

button {
  font-weight: 700;
  padding: 1rem 2.5rem;
  cursor: pointer;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}
button.primary-button {
  border: 1px solid #403579;
  color: white;
  background-color: #403579;
}
button.secondary-button {
  border: 1px solid white;
  color: #403579;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  max-height: 3rem;
  overflow: hidden;
}
button span {
  height: 1rem;
  border: 1px solid white;
}

header {
  position: absolute;
  z-index: 10;
}
header .header-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-wrapper nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
header .header-wrapper nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
header .header-wrapper nav ul li {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-wrapper .header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  header nav {
    display: none !important;
  }
}
@media (max-width: 700px) {
  header .header-wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  header .header-wrapper {
    padding-inline: 1rem;
  }
}

.menu .open {
  cursor: pointer !important;
}
.menu .overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  background-color: white;
  width: 100%;
  height: 100%;
  inset: 0;
  padding: 4rem;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  opacity: 0;
  background-color: #403579;
}
.menu .overlay button {
  color: white;
}
.menu .overlay .close {
  cursor: pointer !important;
  z-index: 10;
}
.menu .overlay button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
}
.menu .overlay ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.menu .overlay ul li {
  color: white;
  font-weight: 700;
  font-size: 24px;
}

main {
  background-image: linear-gradient(rgba(3, 3, 3, 0.2431372549), rgba(3, 3, 3, 0.2431372549) 100%), url(../../public/images/blurred-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
}
main .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-block: 5rem;
  padding-block-start: 14rem;
  height: 100%;
  position: relative;
  gap: 12rem;
}
main .wrapper .main-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
main .wrapper .main-top > h1 {
  transform: translateY(14rem);
  max-width: 14ch;
  text-align: center;
  line-height: 1;
}
main .wrapper .main-top p {
  font-size: 24px;
  color: white;
  text-align: center;
  font-weight: 400;
}
main .wrapper .main-bottom {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
main .wrapper .main-bottom .main-bottom-left {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2rem;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: -webkit-clip-path 1000ms ease;
  transition: clip-path 1000ms ease;
  transition: clip-path 1000ms ease, -webkit-clip-path 1000ms ease;
}
main .wrapper .main-bottom .main-bottom-left p {
  color: white;
  max-width: 40ch;
}
main .wrapper .main-bottom .main-bottom-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
main .wrapper .main-bottom .main-bottom-right .stat-item {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-left: 1px solid white;
  padding-inline: 0.5rem;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 300ms ease;
  transition: clip-path 300ms ease;
  transition: clip-path 300ms ease, -webkit-clip-path 300ms ease;
}
main .wrapper .main-bottom .main-bottom-right .stat-item .number-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 300ms ease;
  transition: clip-path 300ms ease;
  transition: clip-path 300ms ease, -webkit-clip-path 300ms ease;
}
main .wrapper .main-bottom .main-bottom-right .stat-item:nth-child(1) {
  border: none !important;
}
main .wrapper .main-bottom .main-bottom-right .stat-item > p {
  max-width: 10ch;
  line-height: 1.2;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 300ms ease;
  transition: clip-path 300ms ease;
  transition: clip-path 300ms ease, -webkit-clip-path 300ms ease;
}
@media (max-width: 1024px) {
  main {
    height: auto;
  }
  main .wrapper {
    gap: 6rem;
  }
  main .wrapper .main-bottom {
    flex-direction: column;
    align-items: center !important;
    gap: 4rem;
  }
  main .wrapper .main-bottom .main-bottom-left {
    gap: 1rem;
  }
  main .wrapper .main-bottom .main-bottom-left p {
    max-width: 45ch;
  }
  main .wrapper .main-bottom .main-bottom-right .stat-item {
    padding-inline: 2rem;
  }
}
@media (max-width: 700px) {
  main .wrapper .main-top p {
    font-size: 20px !important;
    line-height: 1.2;
    max-width: 16ch;
    text-wrap: balance !important;
  }
  main .wrapper .main-bottom .main-bottom-left p {
    font-size: 14px !important;
    max-width: 28ch;
  }
  main .wrapper .main-bottom .main-bottom-right .stat-item {
    padding-inline: 0.5rem;
  }
}
@media (max-width: 394px) {
  main .wrapper .main-top > svg {
    width: clamp(225px, 85vw, 300px);
  }
  main .wrapper .main-bottom .main-bottom-left p {
    font-size: 14px !important;
  }
  main .wrapper .main-bottom .main-bottom-right .stat-item > p {
    max-width: 10ch;
    line-height: 1.2;
    font-size: 14px;
  }
  main .wrapper .main-bottom .main-bottom-right .stat-item .number-item .number {
    font-size: 32px;
  }
}

.services-section {
  background-color: #403579;
  background-color: #463B7D;
  background-image: url(../../public/summer-background-sea-water3.png);
  background-blend-mode: luminosity;
  background-size: cover;
  z-index: 0;
  position: relative;
}
.services-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.services-section .wrapper button {
  margin-block-start: 2rem;
  background-color: white;
  color: #403579;
  visibility: hidden;
}
.services-section .wrapper .services-top {
  display: flex;
  align-items: center;
}
.services-section .wrapper .services-top .started-left h2 {
  font-size: clamp(44px, 13vw, 166px);
  line-height: 1;
  max-width: 8ch;
  margin-block-end: 2rem;
}
.services-section .wrapper .services-top .started-left p {
  max-width: 32ch;
  color: white;
}
.services-section .wrapper .services-top .started-right {
  margin-inline-start: -12rem;
  margin-block-start: -16rem;
  z-index: -1;
}
.services-section .wrapper .services-bottom {
  display: grid;
  margin-block-start: 6rem;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}
@media (max-width: 861px) {
  .services-section .wrapper .services-bottom {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  }
}
@media (max-width: 546px) {
  .services-section .wrapper .services-bottom {
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 1rem;
  }
}
@media (max-width: 411px) {
  .services-section .wrapper .services-bottom {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.5rem;
  }
}
.services-section .wrapper .services-bottom .services-card {
  background-color: rgba(70, 59, 125, 0.537254902);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 861px) {
  .services-section .wrapper .services-bottom .services-card {
    padding: 1rem !important;
  }
}
.services-section .wrapper .services-bottom .services-card svg {
  width: 25px;
}
.services-section .wrapper .services-bottom .services-card h3 {
  margin-block-start: 0.5rem;
  text-align: center;
}
.services-section .wrapper .services-bottom .services-card p {
  color: white;
  margin-block-start: 0.75rem;
  text-align: center;
}
@media (max-width: 600px) {
  .services-section .wrapper .started-right {
    margin-inline-start: -10rem;
  }
}
@media (max-width: 500px) {
  .services-section .wrapper .started-right {
    margin-inline-start: -8rem;
  }
}
@media (max-width: 375px) {
  .services-section .wrapper .started-right {
    margin-inline-start: -14rem;
    margin-block-start: -26rem;
  }
}

footer .wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  padding-block-end: 2rem;
}
footer .wrapper .footer-top {
  width: 75%;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer .wrapper .footer-top .column {
  height: 100%;
  display: flex;
  align-items: flex-start;
}
footer .wrapper .footer-top .column ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
footer .wrapper .footer-top .column ul li,
footer .wrapper .footer-top .column ul a {
  color: #030303;
}
@media (max-width: 500px) {
  footer .wrapper .footer-top {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  footer .wrapper .footer-top .column:nth-child(2), footer .wrapper .footer-top .column:nth-child(4), footer .wrapper .footer-top .column:nth-child(3) {
    grid-row: 2;
  }
}
@media (max-width: 409px) {
  footer .wrapper .footer-top {
    grid-template-columns: 1fr;
    width: 100%;
  }
  footer .wrapper .footer-top .column:nth-child(2), footer .wrapper .footer-top .column:nth-child(4), footer .wrapper .footer-top .column:nth-child(3) {
    grid-row: auto;
  }
}
footer .wrapper .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-block-start: 0.5px solid black;
  padding-block-start: 2rem;
  padding-block-end: 0;
}
@media (max-width: 327px) {
  footer .wrapper .footer-bottom {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 2rem;
  }
}
footer .wrapper .footer-bottom p {
  font-size: 14px;
}
footer .wrapper .h0 {
  font-size: 192px;
  font-weight: 900;
  line-height: 1;
  align-self: start;
  margin-top: -2rem;
  margin-bottom: 0;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
footer .wrapper .h0 span svg {
  width: 35px;
  height: -moz-max-content;
  height: max-content;
}
@media (max-width: 700px) {
  footer .wrapper .h0 span svg {
    width: 15px;
  }
}/*# sourceMappingURL=style.css.map */