@use "../../styles/variables";

.future-section {
    background-color:variables.$purple;

    .wrapper {
        padding-inline:0;
        padding-block:2rem 0;
        h2 {
            font-size:variables.$massive;
            font-size:clamp(variables.$big-type, 11vw, variables.$massive);
            line-height:1;
            text-align:center;
            font-weight:700;
        }

        .team-grid {
            margin-block-start:-4rem;

            img {
                margin-bottom:-0.35rem;
            }
        }
    }
    @media (max-width:1024px) {
        .wrapper {
            .team-grid {
                margin-block-start:-3rem;
            }
        }
    }
    @media (max-width:600px) {
        .wrapper {
            h2 {
                font-size:clamp(60px, 16vw, variables.$big-type);
            }
            .team-grid {
                margin-block-start:-2rem;
            }
        }
    }
    @media (max-width:500px) {
        .wrapper {
            h2 {
                font-size:clamp(48px, 16vw, variables.$big-type);
            }
            .team-grid {
                margin-block-start:-2rem;
            }
        }
    }
}