@use "../../styles/variables";

.helmets-section {
    .wrapper {
        display:flex;
        align-items: center;
        padding-block:4rem;
        padding-block-end:1rem;
        padding-right:0;

        .helmets-left {
            margin-top:-3rem;
            h2 {
                color:black;
                font-size:variables.$big-type;
                max-width:16ch;
            }
            button {
                margin-block-start:1rem;
            }
            
        }
        .helmets-right {
            margin-top:-5rem;
            margin-left:-8rem;
        }
    }
}