@use "../../styles/variables";

.hiring-section {
    background-color:variables.$purple;
    background-image:url(../../public/summer-background-sea-water3.png);
    background-blend-mode: luminosity;
    background-size:cover;
    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:4rem;
        padding-inline:0 !important;
        padding-block: 4rem 0;

        .hiring-top {
            h2 {
                font-size:variables.$massive;
                line-height:1;
                max-width:100%;

                font-size:clamp(60px, 11vw, variables.$massive);

            @media (max-width:500px) {
                font-size:clamp(32px, 11vw, 60px);

            }
            }
        }
        .hiring-wrapper {
            display:flex;
            width:100%;
            gap:4rem;
            align-items: center;

            @media (max-width:900px) {
                gap:2rem;
            }
           

            .hiring-left {
                width:50%;
                display:flex;
                align-items: flex-end;
                overflow:hidden;

                img {
                    // height:100%;
                    // object-fit:cover;
                }
                
            }
            .hiring-right {
                width:50%;
                padding-inline-end:4rem;
                @media (max-width:700px) {
                    padding-inline-end:2rem;
                }
                @media (max-width:500px) {
                    padding-inline-end:1rem;
                }
                .hiring-list {
                    display:flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap:0rem;
                    width:100%;
    
    
                    .hiring-list-item {
                        
                        width:100%;
                        padding-block:4rem 2rem;

                        .question {
                            display:flex;
                            align-items: center;
                            justify-content: space-between;
                            width:100%;
                            cursor:pointer;
                            border:none;
                            background-color:transparent;
                            padding:0 !important;
                            border-radius:0;
                        }

                         button[aria-expanded="true"] {
                            color: variables.$white;
                          }
                          
                        //   .accordion .accordion-item button[aria-expanded="true"] .icon::after {
                        //     width: 0;
                        //   }
                          
                           button[aria-expanded="true"] + .answer {
                            max-height: 16rem;
                            transition: max-height 200ms linear;
                          }

                        .answer {
                            max-height:0;
                            overflow:hidden;
                            transition: max-height 200ms linear;


                            p {
                                color:white;
                                margin-block-start:2rem;
                               
                            }
                        }

                        &:not(:nth-child(1)) {
                            border-block-start:0.5px solid white;
                        }
                        
                        svg {
                            width:50px;
                        }
                    }
                }
            }

           
        }
    }
    @media (max-width:900px) {
        .wrapper {
            .hiring-wrapper {
                display:grid;
                grid-template-columns: 1fr 1fr;
                overflow-y:hidden;

                .hiring-left {
                    width:100%;
                    height:100%;

                    img {
                        width:100%;
                        height:100%;
                        object-fit:cover;
                    }
                }

                .hiring-right {
                    width:100%;
                    height:100%;

                    
                }
            }
        }
    }
    @media (max-width:600px) {
        .wrapper {
            .hiring-wrapper {
                gap:1rem;

                .hiring-right {
                    .hiring-list {
                        .hiring-list-item {
                            padding-block:4rem;

                            h2 {
                                font-size:variables.$h3;
                            }

                            svg {
                                width:40px;
                            }
                        }
                    }
                }
            }
            
        }
    }
}