@use "../../styles/variables";

.started-section {
    .wrapper {
        display:flex;
        align-items: center;

        .started-left {
            h2 {
                font-size:variables.$massive;
                font-size:clamp(52px,13vw,variables.$massive);
                line-height:1;
                color:black;
                max-width:8ch;
                margin-block-end:2rem;
            }
            p {
                max-width:32ch;
            }
        }
        .started-right {
            margin-inline-start:-12rem;
            margin-block-start:-32rem;
            z-index:-1;
            display:flex;
            align-items: flex-end;

            @media (max-width:1000px) {
                height:auto;
                overflow:hidden;
            }

            img {
                object-fit:cover;
                width:100%;
            }
        }
    }
    
    @media (max-width:800px) {
        .wrapper {
            .started-right {
                margin-block-start:-20rem !important;
                margin-inline-start:-10rem;
            }
        }
    }
    @media (max-width:600px) {
        .wrapper {
            .started-right {
                margin-inline-start:-8rem;
                margin-block-start:-18rem !important;

            }
        }
    }
    @media (max-width:500px) {
        .wrapper {
            .started-right {
                margin-inline-start:-6rem;
                margin-block-start:-14rem !important;

            }
        }
    }
    @media (max-width:342px) {
        .wrapper {
            .started-right {
                margin-inline-start:-12rem;
                margin-block-start:-30rem !important;

            }
        }
    }
    
}