@use "../../styles/variables";

.testimonials-section {
    background-color:variables.$purple;
    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        gap:8rem;

        .testimonials-grid {
            display:grid;
            width:100%;
            gap:0rem;

            .testimonials-item {
                display:flex;
                align-items: flex-start;
                justify-content: space-between;
                border-top:0.5px solid white;
                padding-block: 4rem;
                z-index:10;
                @media (max-width:1024px) {
                    gap:2rem;
                }

                .follow-container {
                    position: absolute;
                    width:400px;
                    display:none;
                    transition:400ms;

                    &.display {
                        display:block;
                    }

                   img {
                    position:absolute;
                    // opacity:0;
                    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
                    z-index:-1;
                    transition:400ms;


                    &.show {
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                        transition:400ms;

                    }
                   }
                  }

                &:nth-child(1) {
                    border-top:0;
                }

                .testimonials-item-left {
                    color:white;
                }

                .testimonials-item-right {
                    max-width:70%;

                    @media (max-width:1024px) {
                        max-width:80%;
                    }

                    h3 {
                        font-weight:300;
                        line-height:1.6;
                    }

                    .testimonials-item-right-bottom {
                        display:flex;
                        align-items: center;
                        gap:2rem;
                        color:variables.$white;
                        margin-block-start:2rem;

                        button {
                            border:none;
                            padding-inline-start:0;
                        }
                    }
                }
            }
        }
    }
    @media(max-width:500px) {
        .wrapper {
            .testimonials-grid {
                .testimonials-item {
                    flex-direction: column;

                    .testimonials-item-right {
                        max-width:100%;
                    }
                }
            }
        }
    }
}