@use '../../styles/variables';

.text-section {
    .wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding-block-start: 4rem;
        h2 {
            color: variables.$black;
            max-width: auto;
            line-height: 1.4;
            font-size: clamp(40px, 4vw, 60px);

            // @media (max-width:700px) {
            //     font-size:variables.$mobile-h2;
            // }

            @media (max-width: 616px) {
                max-width: 100%;
            }

            span {
                color: variables.$purple;
            }
        }
    }
}

p.h0 {
    font-size: clamp(96px, 12vw, variables.$h0) !important;
    color: variables.$purple;
    font-weight: 600 !important;
    opacity: 0.1;
    margin-block-end: -3rem !important;

    @media (max-width: 616px) {
        font-size: clamp(48px, 12vw, 100px) !important;
        align-self: start;
    }
    @media (max-width: 426px) {
        font-size: clamp(32px, 12vw, 48px) !important;
    }

    &.artistry {
        // margin-block-end:-8rem;
        font-weight: 600;
    }
    &.precision {
        margin-block: 0rem;
        line-height: clamp(100px, 12vw, variables.$h0) !important;
        font-weight: 600;
    }
}
