@use "../../styles/variables";

.slider-section {
    margin-block:12rem;
    .wrapper {

        .timeline {
            display:flex;
            flex-direction: column;
            align-items: center;
            // max-width:80%;
            gap:12rem;
            .timeline-item {
                padding:2rem;
                display:flex;
                flex-direction: column;
                align-items: center;
                gap:2rem;
               
                

                svg {
                    width:128px;
                }
                
                position:relative;
                p {
                    max-width:28ch;
                    text-wrap:balance;
                    font-weight:700 !important;
                    font-size:variables.$h3;
                    text-align:center;
                }

              

                
            }
    
        }
       
     


    }
}