@font-face {
  font-family: twk;
  src: url("../twk/TWKEverett-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: twk;
  src: url("../twk/TWKEverett-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: hell;
  src: url("../Helvetica-Font/Helvetica.ttf");
  font-weight: 400;
}
@font-face {
  font-family: hell;
  src: url("../Helvetica-Font/helvetica-light-587ebe5a59211.ttf");
  font-weight: 300;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: hell, sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}
img.icon {
  width: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

section,
main,
header,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .wrapper,
main .wrapper,
header .wrapper,
footer .wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 8rem 4rem;
}
@media (max-width: 700px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 1rem;
  }
}

h1 {
  font-size: 96px;
  line-height: 1.2;
  color: white;
  font-weight: 700;
  font-family: twk;
}
h1 span {
  color: #403579;
  font-weight: 700;
}
@media (max-width: 700px) {
  h1 {
    font-size: 64px;
  }
}

h2 {
  font-size: 60px;
  line-height: 1.2;
  color: white;
  font-weight: 700;
  font-family: twk;
}
h2 span {
  color: #403579;
  font-weight: 700;
}
@media (max-width: 700px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-size: 24px;
  line-height: 1.2;
  color: white;
  font-weight: 700;
  font-family: twk;
}

p {
  line-height: 1.6;
  font-weight: 300;
  font-size: 16px;
}
p.tagline {
  font-size: 14px;
}
p.large {
  font-size: 24px;
  line-height: 1.2;
}
@media (max-width: 380px) {
  p.large {
    font-size: 20px;
  }
}
p.number {
  font-size: 60px;
  line-height: 1.2;
  font-family: twk;
}

.purple {
  color: #403579;
}

button {
  font-weight: 700;
  padding: 1rem 2.5rem;
  cursor: pointer;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}
button.primary-button {
  border: 1px solid #403579;
  color: white;
  background-color: #403579;
}
button.secondary-button {
  border: 1px solid white;
  color: white;
  background-color: transparent;
}
button .circle {
  width: 2rem;
  height: 2rem;
  background-color: white;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  position: absolute;
  scale: 0;
  transform-origin: center;
  inset: 0;
  transition: 300ms ease, border-radius 1200ms ease;
}
button:hover .circle {
  -webkit-clip-path: circle(70.7% at 50% 50%);
          clip-path: circle(70.7% at 50% 50%);
  scale: 1;
  transition: border-radius width height 1200ms ease, -webkit-clip-path scale 300ms ease;
  transition: clip-path scale 300ms ease, border-radius width height 1200ms ease;
  transition: clip-path scale 300ms ease, border-radius width height 1200ms ease, -webkit-clip-path scale 300ms ease;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: -1;
}
button:hover {
  color: #030303;
}

header {
  position: absolute;
  z-index: 10;
}
header .header-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-wrapper nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
header .header-wrapper nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
header .header-wrapper nav ul li {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-wrapper .header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  header nav {
    display: none !important;
  }
}
@media (max-width: 700px) {
  header .header-wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  header .header-wrapper {
    padding-inline: 1rem;
  }
}

main {
  background-image: url(../home-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 95svh;
  max-height: 950px;
  background-attachment: fixed;
}
main .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-block: 5rem;
  -webkit-padding-before: 12rem;
          padding-block-start: 12rem;
  height: 100%;
}
main .wrapper .main-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
main .wrapper .main-top > h1 {
  transform: translateY(14rem);
  max-width: 12ch;
  text-align: center;
  line-height: 1;
}
main .wrapper .main-top p {
  font-size: 24px;
  color: white;
  text-align: center;
  font-weight: 400;
}
main .wrapper .main-bottom {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
main .wrapper .main-bottom .main-bottom-left {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2rem;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: -webkit-clip-path 1000ms ease;
  transition: clip-path 1000ms ease;
  transition: clip-path 1000ms ease, -webkit-clip-path 1000ms ease;
}
main .wrapper .main-bottom .main-bottom-left p {
  color: white;
  max-width: 40ch;
}
main .wrapper .main-bottom .main-bottom-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
main .wrapper .main-bottom .main-bottom-right .stat-item {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-left: 1px solid white;
  padding-inline: 0.5rem;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 300ms ease;
  transition: clip-path 300ms ease;
  transition: clip-path 300ms ease, -webkit-clip-path 300ms ease;
}
main .wrapper .main-bottom .main-bottom-right .stat-item .number-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 300ms ease;
  transition: clip-path 300ms ease;
  transition: clip-path 300ms ease, -webkit-clip-path 300ms ease;
}
main .wrapper .main-bottom .main-bottom-right .stat-item:nth-child(1) {
  border: none !important;
}
main .wrapper .main-bottom .main-bottom-right .stat-item > p {
  max-width: 10ch;
  line-height: 1.2;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 300ms ease;
  transition: clip-path 300ms ease;
  transition: clip-path 300ms ease, -webkit-clip-path 300ms ease;
}
@media (max-width: 1024px) {
  main {
    height: 100svh;
  }
  main .wrapper .main-bottom {
    flex-direction: column;
    align-items: center !important;
    gap: 4rem;
  }
  main .wrapper .main-bottom .main-bottom-left {
    gap: 1rem;
  }
  main .wrapper .main-bottom .main-bottom-left p {
    max-width: 45ch;
  }
  main .wrapper .main-bottom .main-bottom-right .stat-item {
    padding-inline: 2rem;
  }
}
@media (max-width: 700px) {
  main .wrapper .main-top p {
    font-size: 20px !important;
    line-height: 1.2;
    max-width: 16ch;
    text-wrap: balance !important;
  }
  main .wrapper .main-bottom .main-bottom-left p {
    font-size: 14px !important;
    max-width: 28ch;
  }
  main .wrapper .main-bottom .main-bottom-right .stat-item {
    padding-inline: 0.5rem;
  }
}
@media (max-width: 394px) {
  main .wrapper .main-top > svg {
    width: clamp(225px, 85vw, 300px);
  }
  main .wrapper .main-bottom .main-bottom-left p {
    font-size: 14px !important;
  }
  main .wrapper .main-bottom .main-bottom-right .stat-item > p {
    max-width: 10ch;
    line-height: 1.2;
    font-size: 14px;
  }
  main .wrapper .main-bottom .main-bottom-right .stat-item .number-item .number {
    font-size: 40px;
  }
}

.hire-section .wrapper .hire-card {
  background-image: linear-gradient(to top, rgba(3, 3, 3, 0.6156862745), rgba(3, 3, 3, 0.6156862745) 100%), url(../public/images/omega-is-hiring.png);
  background-size: cover;
  padding: 2rem;
  height: 90svh;
  max-height: 800px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.hire-section .wrapper .hire-card .hire-left .tag {
  color: #403579;
  letter-spacing: 0.5rem;
}
.hire-section .wrapper .hire-card .hire-left h2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 16ch;
  color: #FFFFFF !important;
}
.hire-section .wrapper .hire-card .hire-left h2 .white {
  color: #FFFFFF !important;
}
.hire-section .wrapper .hire-card .hire-left h2 .white:nth-child(2) {
  align-self: flex-end;
}

.cta-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta-section .wrapper .cta-button {
  display: flex;
  justify-content: flex-start;
  gap: 6rem;
}
.cta-section .wrapper h2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 24ch;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
  color: #030303;
}
.cta-section .wrapper h2 span:nth-child(2) {
  align-self: flex-end;
  -webkit-margin-start: 6rem;
          margin-inline-start: 6rem;
}
.cta-section .wrapper p {
  max-width: 50ch;
}
.cta-section .wrapper button {
  align-self: flex-end;
}

footer .wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  -webkit-padding-after: 0rem;
          padding-block-end: 0rem;
}
footer .wrapper .footer-top {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer .wrapper .footer-top .column {
  height: 100%;
  display: flex;
  align-items: flex-start;
}
footer .wrapper .footer-top .column ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
footer .wrapper .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  -webkit-border-before: 0.5px solid black;
          border-block-start: 0.5px solid black;
  -webkit-padding-before: 2rem;
          padding-block-start: 2rem;
}
footer .wrapper .footer-bottom p {
  font-size: 14px;
}
footer .wrapper .h0 {
  font-size: 256px;
  font-weight: 900;
  line-height: 1;
  align-self: start;
  margin-top: -2rem;
}
footer .wrapper .h0 span {
  -webkit-margin-start: -1rem;
          margin-inline-start: -1rem;
}

.loader {
  position: fixed;
  background-color: white;
  height: 100vh;
  z-index: 10;
  width: 100%;
  transition: 300ms ease;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.loader img {
  width: 25%;
  position: absolute;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 300ms ease;
  transition: clip-path 300ms ease;
  transition: clip-path 300ms ease, -webkit-clip-path 300ms ease;
}/*# sourceMappingURL=style.css.map */