@use "./variables";

button {
    font-weight:700;
    padding:1rem 2.5rem;
    cursor:pointer;
    border-radius:2rem;
    display:flex;
    align-items: center;
    gap:0.5rem;
    position:relative;
    // transition:500ms ease;


    &.primary-button {
        border:1px solid variables.$purple;
        color:white;
        background-color:variables.$purple;
    }

    &.secondary-button {
        border:1px solid white;
        color:white;
        background-color:transparent;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap:1rem;
        max-height:3rem;
        overflow:hidden;
    }

    span {
        // overflow:hidden;
        height:1rem;
        border:1px solid white;
    }
    

    
}