@use "./variables";

button {
    font-weight:700;
    padding:1rem 2.5rem;
    cursor:pointer;
    border-radius:2rem;

    &.primary-button {
        border:1px solid variables.$purple;
        color:white;
        background-color:variables.$purple;
    }

    &.secondary-button {
        border:1px solid white;
        color:white;
        background-color:transparent;
    }

    
}