@use "./variables";

.contact-banner {
    .wrapper {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:2rem;
        padding-block:4rem;

        @media (max-width:1068px) {
            row-gap:8rem;
        }
        @media (max-width:651px) {
            grid-template-columns: 1fr;
            row-gap:8rem;
        }

        .banner-item a {
            display:flex;
            flex-direction: column;
            align-items: center;
            gap:1rem;
            svg {
            width:64px !important;
        }
        h3 {
            color:black;
            font-size:variables.$mobile-h3;
            font-weight:700;
            text-align:center;
            @media (max-width:350px) {
                font-size:18px;
            }
        }
    }
}
}

.jonathan-section {
    background-color:variables.$purple;
    .wrapper {
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position:relative;
        z-index:0;
        overflow:hidden;
        @media (max-width:957px) {
            padding-bottom:0;
        }

        img {
            width:max(40%,400px);
            position:absolute;
            bottom:0;
            z-index:-1;
            right:2%;

            @media (max-width:957px) {
                position:relative;
                width:max(50%,350px);

            }
        }

        h2 {
            color:white;
            max-width:18ch;
            text-align:center;

        }
        h3 {
            color:white;
            margin-block:2rem 3rem;
            text-align:center;


        }
    }
}