@use "./variables";

.contact-section {
    background-image: linear-gradient(#0303038e, #0303038e), url(../public/images/contact.png);
    background-size:cover;
    background-position:center;

    .wrapper {
        display:grid;
        place-items: center;

        h2 {
            text-align:center;
            max-width:10ch;
            margin-block-end:4rem;
        }

        form {
            display:flex;
            flex-direction: column;
            gap:2rem;
            align-items: flex-start;

            button {
                color:variables.$purple;
                background-color:variables.$white;
                border:2px solid white;
            }
            fieldset {
                border:none;
                display:flex;
                align-items: center;
                gap:1rem;
                width:100%;

                &.textarea,
                fieldset {
                    flex-direction: column;
                    align-items: flex-start;
                    gap:0.5rem;
                }

                input,
                textarea {
                    padding:0.75rem;
                    color:white;
                    background-color:transparent;
                    border:none;
                    border-bottom:1px solid white;
                    width:100%;
                    border-radius:0.25rem;
                    font-family:twk;

                    &:focus {
                        outline:2px solid white;
                    }

                }

              

                label {
                    color:white;
                }
            }
        }
    }
}