@use "./variables";

.excellence-section {
    border-radius:2rem !important;
    margin-top:-1.5rem;
    background-color:white;


    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        gap:24rem;
        




        .excellence-slider {
            display:grid;
            grid-template-columns: 1fr 1fr;
            column-gap:4rem;
            place-content: center;
            align-items:start;
            min-height:100vh;
            width:100%;

            .excellence-slider-left {
                width:100%;
                position:relative;

                img {
                    position:absolute;
                    top:20%;
                    border-radius:16rem;

                  
                    &.slide-two,
                    &.slide-three,
                    &.slide-four,
                    &.slide-five,
                    &.slide-six,
                    &.slide-seven, 
                    &.slide-eight {
                        opacity:0;
                    }
                }
            }

            .excellence-slider-right {
                display:grid;
                width:100%;
                gap:20rem;
                align-self:center;
                
                .excellence-slider-item {
                    display:grid;
                    padding:2rem;
                    
                    

                    h3 {
                        color:variables.$black;
                        margin-block:1rem 0.5rem
                    }

                    p {
                        max-width:40ch;
                    }
                }
            }
        }

        .excellence-titles {
            width:100%;
            display:flex;
            align-items: flex-end;
            justify-content: space-between;

            .excellence-titles-left {
                h2 {
                    color:variables.$black;
                    max-width:12ch;
                }
            }
            .excellence-titles-right {
                p {
                    max-width:50ch;
                }
            } 
        }
    }
    @media (max-width:1024px) {
        .excellence-titles {
            flex-direction: column;
            align-items: flex-start !important;
            gap:2rem;
        }
    }
    @media (max-width:825px) {

        .wrapper {
            gap:12rem;

            .excellence-slider {
                display:grid;
                grid-template-columns: 1fr;
                column-gap:4rem;
                place-content: center;
                align-items:start;
                min-height:auto;;
                width:100%;

                .excellence-slider-left {
                    display:none;
                }
                .excellence-slider-right {
                    display:grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    width:100% !important;
                    gap:2rem !important;
                    align-self:center;

                    .excellence-slider-item {
                        display:grid;
                        padding:1rem;
                        h3 {
                            color:variables.$black;
                            margin-block:1rem 0.5rem;
                        }
                        p {
                            max-width:100%;
                        }
                    }

                    .empty {
                        display:none;
                    }
                }
                
            }
        }
        
    }
    @media (max-width:600px) {

        .wrapper {
            .excellence-slider {
               
                .excellence-slider-right {
                    grid-template-columns: 1fr 1fr;
                }
                
            }
        }
        
    }
    @media (max-width:340px) {

        .wrapper {
            .excellence-slider {
               
                .excellence-slider-right {
                    grid-template-columns: 1fr;
                }
                
            }
        }
        
    }
    
}