@use "./variables";

.featured-projects {
    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:8rem;

        .featured-titles {
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            p {
                max-width:25ch;
                margin-block-start:2rem;
            }

            h2 {
                display:flex;
                flex-direction: column;
                align-items: flex-start;
                max-width:22ch;


                span:nth-child(2) {
                    align-self:flex-end;
                }
            }
        }
        .featured-card-grid {
            display:grid;
            row-gap:4rem;

            .featured-card {
                display:grid;
                grid-template-columns: 1fr 1fr;
                background-color:variables.$light-gray;
                padding-inline:2rem;

                .featured-card-left {
                    display:flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .tag {
                        background-color:variables.$white;
                        padding:1rem 2rem;
                        border-radius:2rem;
                        margin-block-start:4rem;
                    }
                    p {
                        margin-block-start:2rem;
                        max-width:58ch;
                    }
                }
            }
        }
    }
}