@use "./variables";

h1 {
    font-size:variables.$h1;
    line-height:1.2;
    color:white;
    font-weight:700;
    font-family:"Poppins", sans-serif;

    span {
        color:variables.$purple;
        font-weight:700;
    }

    .line {
        overflow:hidden;
    }
    .char {
        font-size:variables.$h1;
    font-family:"Poppins", sans-serif;
    font-weight:500;
    }

    @media (max-width:700px) {
        font-size:variables.$mobile-h1;

        .line {
            overflow:hidden;
        }
        .char {
            font-size:variables.$mobile-h1;
    font-family:"Poppins", sans-serif;
    font-weight:500;
        }
    }
}

h2 {
    font-size:variables.$h2;
    line-height:1.2;
    color:white;
    font-weight:700;
    font-family:"Poppins", sans-serif;

    span {
        color:variables.$purple;
        font-weight:700;
    }

    @media (max-width:700px) {
        font-size:variables.$mobile-h2;
    }
}

h3 {
    font-size:variables.$h3;
    line-height:1.2;
    color:white;
    font-weight:500;
    font-family:"Poppins", sans-serif;

    @media(max-width:700px) {
        font-size:variables.$mobile-h3;
    }
}

p {
    line-height:1.6;
    font-weight:400 !important;
    font-size:variables.$base-font;

    &.tagline {
        font-size:variables.$tagline;
    }

    &.large {
        font-size:variables.$h3;
        line-height:1.2;

        @media(max-width:380px){
            font-size:variables.$mobile-h3;
        }
    }
    &.number {
        font-size:variables.$h2;
        line-height:1.2;
        font-family:"Poppins", sans-serif;
    }
    @media (max-width:700px) {
        font-size:variables.$mobile-base;
    }
}

.purple {
    color:variables.$purple;
    font-weight:700 !important;
}