@use "./variables";

.gallery-section {
    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:8rem;

        .gallery-titles {
            display:flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap:2rem;
            h2 {
                display:flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                span:nth-child(2) {
                    align-self:flex-end;
                }
            }
            p {
                max-width:32ch;
            }
        }
        .gallery-grid {
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap:2rem;
            row-gap:8rem;
        }
    }
}