@use "./variables";

header {
    position:absolute;
    // mix-blend-mode:difference;
    z-index:10;
    .header-wrapper {
        width:100%;
        max-width:1440px;
        padding:1rem 4rem;
        display:flex;
        align-items: center;
        justify-content: space-between;


        nav {
            // width:40%;
            display:flex;
            align-items: center;
            justify-content: center;
            gap:2rem;
            
            ul {
                display:flex;
                align-items: center;
                justify-content: center;
                gap:2rem;
                li {
                    color:white;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .header-right {
            display:flex;
            align-items: center;
            justify-content: flex-end;
        }

    }
    @media(max-width:1024px) {
        nav {
            display:none !important;
        }
    }
    @media(max-width:700px) {
        .header-wrapper {
            padding-inline:2rem;
        }
    }
    @media(max-width:500px) {
        .header-wrapper {
            padding-inline:1rem;
        }
    }
}