@use "./variables";

header {
    position:absolute;
    // mix-blend-mode:difference;
    z-index:10;
    .header-wrapper {
        width:100%;
        max-width:1440px;
        padding:1rem 4rem;
        display:flex;
        align-items: center;
        justify-content: space-between;


        nav {
            // width:40%;
            display:flex;
            align-items: center;
            justify-content: center;
            gap:2rem;
            
            ul {
                display:flex;
                align-items: center;
                justify-content: center;
                gap:2rem;
                li {
                    color:white;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .header-right {
            display:flex;
            align-items: center;
            justify-content: flex-end;
        }

    }
    @media(max-width:1024px) {
        nav {
            display:none !important;
        }
    }
    @media(max-width:700px) {
        .header-wrapper {
            padding-inline:2rem;
        }
    }
    @media(max-width:500px) {
        .header-wrapper {
            padding-inline:1rem;
        }
    }
}

// Dropdown

.menu {
    
    .open {
        cursor:pointer !important;
    }
   
    .overlay {
        position:fixed;
        display:flex;
        align-items: center;
        justify-content: center;
        gap:6rem;
        background-color:white;
        width:100%;
        height:100%;
        inset:0;
        padding:4rem;
        clip-path:circle(0%);
        opacity:0;
        background-color:variables.$purple;

        button {
            color:white;
        }

        .close {
            cursor:pointer !important;
            z-index:10;
        }


        button {
            background-color:transparent;
            border:none;
            position:absolute;
            top:2rem;
            right:2rem;
            font-size:2rem;
            
        }

        ul {
            display:flex;
            flex-direction: column;
            align-items: flex-start;
            gap:2rem;
            li {
                color:white;
                font-weight:700;
                font-size:variables.$h3;
            }
        }
    }
}