@use "./variables";

.introduction-section {
    .wrapper {
        display:grid;
        grid-template-columns: 1fr;
        width:100%;
        .introduction-text {
            display:flex;
            flex-direction: column;
            align-items: flex-start;
            gap:0.5rem;
            width:100%;
            p:not(.tagline) {
                max-width:55ch;
            }
        }
        .introduction-middle {
            margin-top:-2rem;
            display:grid;
            grid-template-columns: 1fr 1.75fr;
            width:100% !important;


            .introduction-image {
                width:90%;
                place-self:end;
            }

         
           @media (max-width:719px) {
                & {
                    display:flex;
                    flex-direction: column-reverse;

                    h2 {
                        width:100%;
                        max-width:100%;
                    }

                    .introduction-image {
                        width:55%;
                    }
                }
           }

            .why-omega-h2 {
                display:grid;
                align-items:end;

                h2 {
                    display:flex;
                    flex-direction: column;
                    align-items: flex-start;
                    max-width:8ch;
                    width:100%;

                    span:nth-child(2) {
                        align-self:flex-end;
                    }
                }
            }
        }
      
        .introduction-bottom {
            display:grid;
            grid-template-columns: 0.5fr 2fr;
            column-gap:8rem;
            margin-block-start:8rem;
            place-content:space-between;

            .introduction-bottom-left-image {
                img {
                    margin-left:-2rem;
                    width:max(100%, 14rem);
                    height:24rem;
                    object-fit:cover;
                }
            }
            .introduction-bottom-right {
                display:grid;
                row-gap:4rem;
            }
            .introduction-bottom-right-top-grid {
                display:grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                gap:2rem;

                img {
                    width:100%;
                    height:100%;
                    object-fit:cover;
                }

            }
            .introduction-bottom-right-bottom-grid {
                display:grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap:2rem;

                .why-us-item {
                    h3 {
                        margin-block-start:1rem;
                        max-width:18ch;
                    }
                }

                h3 {
                    color:variables.$black;
                }
            }
            @media (max-width:878px) {
                & {
                    grid-template-columns: 1fr;
                    gap:4rem;

                    .introduction-bottom-left-image {

                        img {
                            margin-left:0rem !important;
                            align-self:center;
                            width:max(100%, 14rem);
                            height:24rem;
                            object-fit:cover;
                        }
                       
                    }
                    .introduction-bottom-right-top-grid {
                        display:grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                        gap:1rem;
                        height:100%;
        
                        img {
                            width:100%;
                            height:100% !important;
                            object-fit:cover;
                        }
        
                    }
                    .introduction-bottom-right-bottom-grid {
                        display:grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        gap:1rem;
                        width:100%;
        
                        .why-us-item {
                            h3 {
                                margin-block-start:1rem;
                                max-width:18ch;
                            }
                        }
        
                        h3 {
                            color:variables.$black;
                        }
                    }
                }
            }
        }
    }
    @media (max-width:531px) {
        .wrapper {
            .introduction-bottom {
                .introduction-bottom-left-image {

                    img {
                        margin-left:0rem !important;
                        align-self:center;
                        width:max(100%, 14rem);
                        height:16rem;
                        object-fit:cover;
                    }
                   
                }
                .introduction-bottom-right {
                    .introduction-bottom-right-top-grid {
                        grid-template-columns: 1fr 1fr 1fr;
                    }
                    .introduction-bottom-right-bottom-grid {
                        grid-template-columns: 1fr 1fr;
                        row-gap:2rem;

                        .why-us-item {
                            display:flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            text-align:center;
                        }

                        .why-us-item:nth-child(3) {
                            grid-column:span 2;
                            place-self:center;
                        }
                    }
                }
            }
        }
    }
    
}