@use "./variables";

main {
    min-height:100vh;
    max-height:1000px;
    background-image:url(../public/images/background-image.png);
    background-size:cover;
    
    .wrapper {

        display:flex;
        align-items: center;
        gap:4rem;

        .main-left {
            display:flex;
            flex-direction: column;
            align-items: flex-start;
    
            h1 {
                max-width:18ch;
            }
    
            .main-bottom {
                margin-block-start:2rem;
                display:flex;
                align-items: flex-start;
    
                p {
                    color:white;
                    max-width:40ch;
                    margin-inline-end:1rem;
                }
            }
        }
        .main-right {
            flex:2 1 2;
        }
        
    }

   
    
    
}