@use "./variables";


.omega-cards {
    .wrapper {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-block-start:4rem;
        gap:2rem;
        .excellence-slider-item {
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            h3 {
                color:black;
                max-width:10ch;
                text-align:center;
                font-weight:600 !important;
                margin-block:0.75rem 1.25rem;
            }
            p {
                max-width:40ch !important;
                text-align:center;
                font-weight:400  !important;
            }
            svg {
                width:75px;

                
            }
            &:nth-child(3) {
                svg {
                    
                        // width:65px;
                    
                }
            }
            &:nth-child(4) {
                svg {
                    
                        width:75px;
                    
                }
            }
            
        }
        
    }
    @media(max-width:1024px) {
        .wrapper {
            grid-template-columns: 1fr 1fr;
            row-gap:6rem;
        }
    }
    @media(max-width:500px) {
        .wrapper {
            grid-template-columns: 1fr;
            row-gap:6rem;

            .excellence-slider-item {
                p {
                    max-width:32ch !important;
                }
            }
        }
    }
}