@use "./variables";


.omega-cards {
    .wrapper {
        display:grid;
        grid-template-columns: 1fr 1fr;
        padding-block-start:4rem;
        gap:4rem;
        .excellence-slider-item {
            display:grid;
            align-items: center;
            justify-content: center;
            place-content:center;
            place-items:center;
            gap:1rem;
            h3 {
                color:black;
                max-width:10ch;
                text-align:center;
            }
            p {
                max-width:40ch;
                text-align:center;
            }
            svg {
                width:150px;

                
            }
            &:nth-child(3) {
                svg {
                    
                        // width:65px;
                    
                }
            }
            &:nth-child(4) {
                svg {
                    
                        width:130px;
                    
                }
            }
            
        }
        
    }
    @media(max-width:1024px) {
        .wrapper {
            grid-template-columns: 1fr 1fr;
            row-gap:6rem;
        }
    }
    @media(max-width:500px) {
        .wrapper {
            grid-template-columns: 1fr;
            row-gap:6rem;

            .excellence-slider-item {
                p {
                    max-width:32ch;
                }
            }
        }
    }
}