@use "./variables";

.purple-services-section {
    background-color:variables.$purple;
    color:white;
    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap:12rem;
        position:relative;


        h2 {
            max-width:20ch;
        }
        svg {
            width:2.25rem;
            height:max-content;
        }

        .purple-grid {
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            width:90%;
            gap:4rem;

            .purple-grid-item {
                display:flex;
                flex-direction: column;
                align-items: flex-start;
                border-inline-start:0.5px solid white;
                padding-inline-start:2rem;

                
                p {
                    width:100%;
                    &:nth-of-type(1) {
                        margin-block:1rem 0.5rem;
                        font-weight:700;
                        font-size:variables.$h3;
                    }
                    &#title {
                        line-height:1.2 !important;
                    }
                }
            }
        }

        & > svg {
            position:absolute;
            width:67.5%;
            height:100%;
            opacity:0.05;
            right:-10%;
            top:0;
        }
    }
    @media (max-width:700px) {

        .wrapper {
            .purple-grid {
                grid-template-columns: 1fr 1fr;
                gap:1rem;
                row-gap:4rem !important;
                width:100%;

                .purple-grid-item {
                   
                   

                    p {
                        font-size:variables.$mobile-base;
                        &#title {
                            font-size:variables.$mobile-h3;
                        }

                    }
                }
            }
        }
       
    }
    @media (max-width:500px) {

        .wrapper {
            .purple-grid {
                grid-template-columns: 1fr 1fr;

               
            }
        }
       
    }
    @media (max-width:350px) {

        .wrapper {
            .purple-grid {
                grid-template-columns: 1fr 1fr;
                gap:1rem;

                .purple-grid-item {
                    padding-inline-start:1rem;
                   
                }
            }
        }
       
    }
    @media (max-width:320px) {

        .wrapper {
            .purple-grid {
                grid-template-columns: 1fr;

                .purple-grid-item {
                    padding-inline-start:1rem;
                    
                   
                }
            }
        }
       
    }
}