@use "./variables";

.services-section {
    background-color:variables.$purple;

    .wrapper {
        display:grid;
        grid-template-columns: 1fr 2fr 2fr;
        column-gap:4rem;

        .services-column {
            &:nth-child(2) {
                img {
                    height:calc(100% + 8rem);
                    margin-block-start:-8rem;
                    object-fit:cover;
                }
            }
            
            &:nth-child(3) {
                display:flex;
                flex-direction: column;
                align-items: flex-start;
                gap:0rem;
               
                .services-list {
                    display:grid;
                    row-gap:1rem;
                    justify-items: flex-start;

                    .services-list-item {
                        border-bottom:1px solid white;

                        p,
                        h3 {
                            margin-block:1rem;
                        }
                    }
                }

                .services-column-top {
                    p {
                        margin-block:2rem;
                        max-width:40ch;
                    }
                }

                p {
                    color:white;
                }
                h2 {
                    display:flex;
                    flex-direction: column;
                    align-items: flex-start;
                    max-width:10ch;
                    
                    span {
                        color:variables.$white !important;
                        font-weight:500;

                        &:nth-child(2) {
                            align-self:flex-end;
                        }
                    }

                    
                }
            }
        }
    }
}