@use "./variables";

.timeline-section {
    .wrapper {
        h2 {
            color:variables.$black;
            margin-block-end:6rem;
        }
        .timeline {
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap:2rem;
            row-gap:8rem;

    
            .timeline-card {
                display:flex;
                flex-direction: column;
                align-items: flex-start;
                gap:2rem;
                border-top:0.5px solid variables.$black;
                padding-block-start:2rem;
    
                .timeline-card-top {
                    min-height:200px;

                    p.large {
                        margin-block-start:0.5rem;
                    }
                    p.tagline {
                        color:variables.$purple;
                        font-weight:700;
                    }
                }

                img {
                    height:220px !important;
                    object-fit:cover;
                }
            }
        }
    }
    @media (max-width:869px) {
        .wrapper {
            .timeline {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
    @media (max-width:869px) {
        .wrapper {
            .timeline {
                .timeline-card-top {
                    min-height:250px;

                  
                }
            }
        }
    }

}