@use "./variables";

.update-section {
    background-color:variables.$purple;
    background-image:url(../public/summer-background-sea-water3.png);
    background-blend-mode: luminosity;
    background-size:cover;

    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position:relative;
        padding-block:10rem;

        .tagline {
            font-weight:700;
            color:white;
        }

        h2 {
            max-width:20ch;
            text-align: center;
            margin-block-end:2rem;
        }
        img {
            position:absolute;
            width:42%;
            bottom:0;
            right:0%;
        }
        form {
            display:flex;
            flex-direction: column;
            align-items: center;
            width:max-content;
            justify-content: center;
            margin-block-start:4rem;

            p {
                max-width:26ch;
                line-height:1.1;
                font-size:24px;
                margin-block-end:2rem;
                text-align:center;
                color:white;
            }
            fieldset {
                border:none;
                display:flex;
                align-items: center;
                width:max-content;
                justify-content: center;
                gap:2rem;

                button {
                    background-color: white;
                    border:1px solid whtie;
                    color:variables.$purple;
                    cursor:pointer;
                    padding:0.75rem 2rem;
                    margin-inline-start:-6rem;
                }
                input {
                    padding:0.75rem;
                    border-radius:4rem;
                    width:300px;
                    border:1px solid white;
                    background-color:transparent;
                    color:white !important;
                    
                    &::placeholder {
                        color:white;
                        opacity:0.5;

                    }
                    &:focus {
                        outline:none;
                        background-color:transparent;
                    }
                }
            }

            
        }
    }
    @media(max-width:700px) {
        .wrapper {
            padding-block-end:0;
            img {
                position:static;
                width:100%;
            }
        }
    }
    
    @media (max-width:500px) {
        .wrapper {
            
                form {
                    fieldset {
                        
                        input {
                            width:250px;
                        }
                        button {
                            margin-inline-start:-6rem;
                        }
                    }
                }
            
        }
    }
    @media (max-width:420px) {

        .wrapper {
            form {
                width:100%;
                fieldset {
                    width:100%;
                    flex-direction: column;
                    gap:1rem;
                    input {
                        width:100%;
                    }
                    button {
                        width:100%;
                        margin-inline-start:0;
                    }
                }
            }
        }
       
        
    }
}