$purple:#403579;
$black:#030303;
$white:#FFFFFF;
$light-gray:#F5F5F5;
$base-font:16px;
$mobile-base:14px;
$tagline:14px;
$mobile-tagline:12px;
$h1:96px;
$mobile-h1:64px;
$h2:60px;
$mobile-h2:40px;
$h3:24px;
$mobile-h3:20px;
$h0:200px;
$raleway:'Raleway', sans-serif;
