@font-face {
  font-family: twk;
  src: url("../twk/TWKEverett-Light.ttf");
  font-weight: 400;
}
@font-face {
  font-family: twk;
  src: url("../twk/TWKEverett-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: hell;
  src: url("../Helvetica-Font/Helvetica.ttf");
  font-weight: 400;
}
@font-face {
  font-family: hell;
  src: url("../Helvetica-Font/helvetica-light-587ebe5a59211.ttf");
  font-weight: 400;
}
@font-face {
  font-family: gt;
  src: url("../GT-ALPINA/GT-Alpina-Standard-Regular-Trial.ttf");
  font-weight: 400;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}
img.icon {
  width: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

section,
main,
header,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .wrapper,
main .wrapper,
header .wrapper,
footer .wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 8rem 4rem;
}
@media (max-width: 700px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 1rem;
  }
}

h1 {
  font-size: 96px;
  line-height: 1.2;
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
h1 span {
  color: #403579;
  font-weight: 700;
}
h1 .line {
  overflow: hidden;
}
h1 .char {
  font-size: 96px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
@media (max-width: 700px) {
  h1 {
    font-size: 64px;
  }
  h1 .line {
    overflow: hidden;
  }
  h1 .char {
    font-size: 64px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
}

h2 {
  font-size: 48px;
  line-height: 1.2;
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
h2 span {
  color: #403579;
  font-weight: 700;
}
@media (max-width: 700px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 24px;
  line-height: 1.2;
  color: white;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 700px) {
  h3 {
    font-size: 20px;
  }
}

p {
  line-height: 1.6;
  font-weight: 400 !important;
  font-size: 16px;
}
p.tagline {
  font-size: 14px;
}
p.large {
  font-size: 24px;
  line-height: 1.2;
}
@media (max-width: 380px) {
  p.large {
    font-size: 20px;
  }
}
p.number {
  font-size: 48px;
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 700px) {
  p {
    font-size: 14px;
  }
}

.purple {
  color: #403579;
  font-weight: 700 !important;
}

button {
  font-weight: 700;
  padding: 1rem 2.5rem;
  cursor: pointer;
  border-radius: 2rem;
  position: relative;
}
button.primary-button {
  border: 1px solid #403579;
  color: white;
  background-color: #403579;
}
button.secondary-button {
  border: 1px solid white;
  color: #403579;
  background-color: white;
  transition: background-color 300ms ease;
}
button.secondary-button:hover {
  color: white;
  background-color: transparent;
  transition: background-color 300ms ease;
}
button.header-button {
  border: 1px solid white;
  color: #FFFFFF;
  background-color: transparent;
  transition: background-color 300ms ease;
}
button.header-button:hover {
  color: #403579;
  background-color: white;
  transition: background-color 300ms ease;
}

header {
  position: absolute;
  z-index: 10;
}
header .header-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-wrapper .header-logo-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .header-wrapper nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
header .header-wrapper nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
header .header-wrapper nav ul li {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-wrapper .header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  header nav {
    display: none !important;
  }
  header .header-logo-container {
    width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 700px) {
  header .header-wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  header .header-wrapper {
    padding-inline: 1rem;
  }
}

.menu {
  position: relative;
  z-index: 10000 !important;
}
.menu .open {
  cursor: pointer !important;
}
.menu .overlay {
  position: fixed;
  z-index: 10000 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  background-color: white;
  width: 100%;
  height: 100%;
  inset: 0;
  padding: 4rem;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  opacity: 0;
  background-color: #403579;
}
.menu .overlay ul:last-child {
  display: none;
}
.menu .overlay button {
  color: white;
}
.menu .overlay .close {
  cursor: pointer !important;
  z-index: 10;
}
.menu .overlay button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
}
.menu .overlay ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.menu .overlay ul li {
  color: white;
  font-weight: 700;
  font-size: 24px;
}
@media (max-width: 500px) {
  .menu .overlay {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 1024px) {
  .menu .overlay ul:nth-of-type(1), .menu .overlay ul:nth-of-type(2) {
    border: 2px solid red;
    display: none;
  }
  .menu .overlay ul:last-child {
    display: flex;
  }
}

main {
  background-image: linear-gradient(rgba(3, 3, 3, 0.2431372549), rgba(3, 3, 3, 0.2431372549) 100%), url(../public/images/blurred-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-attachment: scroll;
  height: 96vh;
  max-height: 1000px;
}
main .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-block: 5rem;
  padding-block-start: 14rem;
  height: 100%;
  position: relative;
  gap: 12rem;
}
main .wrapper > svg {
  position: absolute;
  width: 67.5%;
  height: 100%;
  opacity: 0.05;
  right: -10%;
  top: 0;
}
main .wrapper .main-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .wrapper .main-top > svg {
  width: clamp(300px, 40vw, 400px);
  overflow: hidden;
}
main .wrapper .main-top > svg path {
  transform: translateY(10rem);
}
main .wrapper .main-top p {
  font-size: 24px;
  color: white;
  text-align: center;
  font-weight: 400 !important;
}
main .wrapper .main-top p .purple {
  font-weight: 400 !important;
}
main .wrapper .main-bottom {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
main .wrapper .main-bottom .main-bottom-left {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2rem;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: -webkit-clip-path 1000ms ease;
  transition: clip-path 1000ms ease;
  transition: clip-path 1000ms ease, -webkit-clip-path 1000ms ease;
}
main .wrapper .main-bottom .main-bottom-left p {
  color: white;
  max-width: 45ch;
  font-weight: 400 !important;
}
main .wrapper .main-bottom .main-bottom-left svg {
  width: 56px;
  transition: width 500ms ease;
}
main .wrapper .main-bottom .main-bottom-left svg:hover {
  width: 64px;
  transition: width 500ms ease;
  cursor: pointer;
}
main .wrapper .main-bottom .main-bottom-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
main .wrapper .main-bottom .main-bottom-right .stat-item {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-left: 1px solid white;
  padding-inline: 0.5rem;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 300ms ease;
  transition: clip-path 300ms ease;
  transition: clip-path 300ms ease, -webkit-clip-path 300ms ease;
}
main .wrapper .main-bottom .main-bottom-right .stat-item .number-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 300ms ease;
  transition: clip-path 300ms ease;
  transition: clip-path 300ms ease, -webkit-clip-path 300ms ease;
}
main .wrapper .main-bottom .main-bottom-right .stat-item .number-item p {
  font-weight: 700 !important;
}
main .wrapper .main-bottom .main-bottom-right .stat-item .number-item p:nth-child(2) {
  font-weight: 400 !important;
}
main .wrapper .main-bottom .main-bottom-right .stat-item:nth-child(1) {
  border: none !important;
}
main .wrapper .main-bottom .main-bottom-right .stat-item > p {
  max-width: 10ch;
  line-height: 1.2;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 300ms ease;
  transition: clip-path 300ms ease;
  transition: clip-path 300ms ease, -webkit-clip-path 300ms ease;
  font-weight: 500;
}
@media (max-width: 1024px) {
  main {
    height: auto;
  }
  main .wrapper {
    gap: 6rem;
  }
  main .wrapper .main-bottom {
    flex-direction: column;
    align-items: center !important;
    gap: 4rem;
  }
  main .wrapper .main-bottom .main-bottom-left {
    gap: 1rem;
  }
  main .wrapper .main-bottom .main-bottom-left p {
    max-width: 45ch;
  }
  main .wrapper .main-bottom .main-bottom-right .stat-item {
    padding-inline: 2rem;
  }
}
@media (max-width: 700px) {
  main .wrapper .main-top p {
    font-size: 20px !important;
    line-height: 1.2;
    max-width: 16ch;
    text-wrap: balance !important;
  }
  main .wrapper .main-bottom .main-bottom-left p {
    font-size: 14px !important;
    max-width: 28ch;
  }
  main .wrapper .main-bottom .main-bottom-right .stat-item {
    padding-inline: 0.5rem;
  }
}
@media (max-width: 394px) {
  main .wrapper .main-top > svg {
    width: clamp(225px, 85vw, 300px);
  }
  main .wrapper .main-bottom .main-bottom-left p {
    font-size: 14px !important;
  }
  main .wrapper .main-bottom .main-bottom-right .stat-item > p {
    max-width: 10ch;
    line-height: 1.2;
    font-size: 14px;
  }
  main .wrapper .main-bottom .main-bottom-right .stat-item .number-item .number {
    font-size: 32px;
  }
}

.question-section {
  background-color: #403579;
  background-image: url(../public/summer-background-sea-water3.png);
  background-blend-mode: luminosity;
  background-size: cover;
}
.question-section .wrapper {
  padding-block: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}
.question-section .wrapper h2 {
  max-width: 20ch;
  text-align: center;
  text-transform: uppercase;
  font-size: 96px;
  font-size: clamp(60px, 6vw, 96px);
}
.question-section .wrapper button {
  color: #403579;
  background-color: #FFFFFF;
}
@media (max-width: 800px) {
  .question-section .wrapper h2 {
    font-size: clamp(40px, 6vw, 60px);
    text-wrap: balance;
  }
}
@media (max-width: 372px) {
  .question-section .wrapper h2 {
    font-size: clamp(32px, 6vw, 40px);
    text-wrap: balance;
  }
}

.text-section .wrapper {
  display: grid;
  padding-block: 12rem;
}
.text-section .wrapper h2 {
  color: #030303;
  max-width: 100%;
  line-height: 1.4;
  font-size: 60px;
}
@media (max-width: 700px) {
  .text-section .wrapper h2 {
    font-size: 32px;
  }
}
@media (max-width: 616px) {
  .text-section .wrapper h2 {
    max-width: 100%;
  }
}
.text-section .wrapper h2 span {
  color: #403579;
  font-family: "Poppins", sans-serif;
}

p.h0 {
  font-size: clamp(100px, 15vw, 176px) !important;
  color: #403579;
  font-weight: 700 !important;
  opacity: 0.1;
  margin-block-end: -3rem !important;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 616px) {
  p.h0 {
    font-size: clamp(64px, 15vw, 100px) !important;
    align-self: start;
  }
}
@media (max-width: 406px) {
  p.h0 {
    font-size: clamp(40px, 15vw, 64px) !important;
  }
}
@media (max-width: 700px) {
  p.h0.artistry {
    margin-block-end: 0rem !important;
  }
}
p.h0.precision {
  margin-block: 0rem;
  line-height: clamp(100px, 15vw, 176px) !important;
}

.omega-cards .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-block-start: 4rem;
  gap: 2rem;
}
.omega-cards .wrapper .excellence-slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.omega-cards .wrapper .excellence-slider-item h3 {
  color: black;
  max-width: 10ch;
  text-align: center;
  font-weight: 600 !important;
  margin-block: 0.75rem 1.25rem;
}
.omega-cards .wrapper .excellence-slider-item p {
  max-width: 40ch !important;
  text-align: center;
  font-weight: 400 !important;
}
.omega-cards .wrapper .excellence-slider-item svg {
  width: 75px;
}
.omega-cards .wrapper .excellence-slider-item:nth-child(4) svg {
  width: 75px;
}
@media (max-width: 1024px) {
  .omega-cards .wrapper {
    grid-template-columns: 1fr 1fr;
    row-gap: 6rem;
  }
}
@media (max-width: 500px) {
  .omega-cards .wrapper {
    grid-template-columns: 1fr;
    row-gap: 6rem;
  }
  .omega-cards .wrapper .excellence-slider-item p {
    max-width: 32ch;
  }
}

html {
  overflow-x: hidden;
}

.service-cards {
  background-color: #403579;
  overflow: hidden !important;
}
.service-cards .wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-left: 0;
  padding-right: 12rem;
}
@media (max-width: 1024px) {
  .service-cards .wrapper {
    width: 100%;
    padding-left: 4rem;
    gap: 6rem;
    padding-right: 4rem;
  }
}
@media (max-width: 700px) {
  .service-cards .wrapper {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 500px) {
  .service-cards .wrapper {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (max-width: 1024px) {
  .service-cards .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
.service-cards .wrapper .service-cards-left {
  width: 60%;
  color: white;
  padding-block: 4rem;
  min-height: 650px;
  background-color: #403579;
  position: relative;
  z-index: 2;
  padding-left: 12rem;
}
.service-cards .wrapper .service-cards-left button {
  margin-block-start: 4rem;
}
@media (max-width: 1024px) {
  .service-cards .wrapper .service-cards-left {
    width: 100%;
    padding: 0rem;
    min-height: auto;
  }
}
.service-cards .wrapper .service-cards-left h2 {
  max-width: 12ch;
  margin-block-end: 2rem;
  text-transform: uppercase;
}
.service-cards .wrapper .service-cards-left p {
  max-width: 34ch;
}
.service-cards .wrapper .swiper {
  width: 40%;
  overflow-x: visible;
}
.service-cards .wrapper .swiper.swiper2 img {
  width: 75px;
}
.service-cards .wrapper .swiper.swiper2 h3 {
  line-height: 1.2;
  margin-block: 2rem 1rem;
}
.service-cards .wrapper .swiper.swiper2 .swiper-slide {
  gap: 0;
}
@media (max-width: 1024px) {
  .service-cards .wrapper .swiper {
    width: 100%;
  }
}
.service-cards .wrapper .swiper .swiper-button-next {
  color: white;
}
.service-cards .wrapper .swiper .swiper-button-prev {
  color: white;
}
.service-cards .wrapper .swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  color: white;
  background-color: #463B7D;
  padding: 2rem;
  padding-block-end: 4rem;
  border: 1px solid white;
}
@media (max-width: 856px) {
  .service-cards .wrapper .swiper .swiper-slide {
    padding: 1rem;
  }
}
.service-cards .wrapper .swiper .swiper-slide img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.service-cards .wrapper .swiper .swiper-slide .number {
  font-weight: 500;
}
.service-cards .wrapper .swiper .swiper-slide h2 {
  max-width: 10ch;
}
.service-cards .wrapper .swiper .swiper-slide p {
  max-width: 45ch;
  font-weight: 400 !important;
}

.team-section {
  background-color: #463B7D;
  background-image: url(../public/summer-background-sea-water3.png);
  background-blend-mode: luminosity;
  background-size: cover;
}
.team-section .wrapper {
  display: grid;
  place-items: center;
}
.team-section .wrapper .team-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 80%;
}
@media (max-width: 1024px) {
  .team-section .wrapper .team-grid {
    width: 100%;
  }
}
@media (max-width: 856px) {
  .team-section .wrapper .team-grid {
    grid-template-columns: 1fr;
    gap: 8rem;
  }
}
.team-section .wrapper .team-grid .team-grid-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.team-section .wrapper .team-grid .team-grid-item h4 {
  color: white;
  font-size: 18px;
  margin-block: 0rem 1.5rem;
  font-weight: 500 !important;
}
.team-section .wrapper .team-grid .team-grid-item h3 {
  margin-block: 2rem 0.5rem;
  font-weight: 700 !important;
}
.team-section .wrapper .team-grid .team-grid-item p {
  font-weight: 400 !important;
}
.team-section .wrapper .team-grid .team-grid-item:nth-child(1) {
  align-items: flex-start;
}
.team-section .wrapper .team-grid .team-grid-item:nth-child(1) h3 {
  text-transform: uppercase;
}
.team-section .wrapper .team-grid .team-grid-item:nth-child(1) p {
  margin-block: 1rem 2rem;
  max-width: 40ch;
}
.team-section .wrapper .team-grid .team-grid-item p {
  color: white;
  max-width: 45ch;
}
.team-section .wrapper .team-grid .team-grid-item button {
  color: #403579;
  background-color: white;
}
.team-section .wrapper .team-grid .team-grid-item .image-relative {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-section .wrapper .team-grid .team-grid-item .image-relative img {
  width: 100%;
}
.team-section .wrapper .team-grid .team-grid-item .image-relative img:not(:nth-child(1)) {
  position: absolute;
  inset: 0;
  width: 100%;
  transition: opacity 300ms;
}
.team-section .wrapper .team-grid .team-grid-item .image-relative img:not(:nth-child(1)):hover {
  opacity: 0;
  transition: opacity 300ms;
}
.team-section .wrapper .team-grid .team-grid-item:not(:nth-child(1)) {
  border: 1px solid white;
  padding: 2rem;
}
@media (max-width: 856px) {
  .team-section .wrapper .team-grid .team-grid-item:not(:nth-child(1)) {
    padding: 1rem;
  }
}

.gallery-section .wrapper {
  padding-block-start: 0;
  margin-block-start: -3rem;
}
.gallery-section .wrapper .gallery-title {
  margin-block-end: 12rem;
}
@media (max-width: 1024px) {
  .gallery-section .wrapper .gallery-title {
    margin-block-end: 8rem;
  }
}
.gallery-section .wrapper .gallery-title h2 {
  color: #030303;
  max-width: 32ch;
}
.gallery-section .wrapper .gallery-title button {
  margin-block-start: 4rem;
}
.gallery-section .wrapper .swiper3 .gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
@media (max-width: 700px) {
  .gallery-section .wrapper .swiper3 .gallery-grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
@media (max-width: 500px) {
  .gallery-section .wrapper .swiper3 .gallery-grid {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}
.gallery-section .wrapper .swiper3 .gallery-grid .gallery-grid-item {
  width: 100%;
}
.gallery-section .wrapper .swiper3 .gallery-grid .gallery-grid-item img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

p.h0 {
  font-size: 176px;
  color: #403579;
  font-weight: 600;
}

.faq-section {
  background-image: linear-gradient(rgba(3, 3, 3, 0.5568627451), rgba(3, 3, 3, 0.5568627451)), url(../public/images/1920-faq.png);
  background-size: fill;
  background-repeat: no-repeat;
  background-position: center;
}
.faq-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding-block-end: 4rem;
}
.faq-section .wrapper .faq-top h2 {
  color: #FFFFFF;
  max-width: 16ch;
  text-transform: uppercase;
}
.faq-section .wrapper .accordion {
  margin-top: 20px;
  width: 650px;
  align-self: flex-end;
  display: grid;
  gap: 1rem;
}
@media (max-width: 781px) {
  .faq-section .wrapper .accordion {
    width: 100%;
  }
}
.faq-section .wrapper .accordion .accordion-item {
  background-color: rgba(255, 255, 255, 0.2078431373);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  transition: 300ms ease;
  padding-inline: 1rem;
}
.faq-section .wrapper .accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #030303;
  font-size: 1.1rem;
  font-weight: 400;
  border: none;
  outline: none;
  background: none;
}
.faq-section .wrapper .accordion button:hover,
.faq-section .wrapper .accordion button:focus {
  cursor: pointer;
  color: #030303;
}
.faq-section .wrapper .accordion button .accordion-title {
  color: white;
  display: block;
  max-width: 95%;
  line-height: 1.3;
}
.faq-section .wrapper .accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid white;
  border-radius: 22px;
}
.faq-section .wrapper .accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background-color: #FFFFFF;
}
.faq-section .wrapper .accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: #FFFFFF;
}
.faq-section .wrapper .accordion .accordion-item button[aria-expanded=true] {
  color: #FFFFFF;
}
.faq-section .wrapper .accordion .accordion-item button[aria-expanded=true] .icon::after {
  width: 0;
}
.faq-section .wrapper .accordion .accordion-item button[aria-expanded=true] + .content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
}
@media (max-width: 500px) {
  .faq-section .wrapper .accordion .accordion-item button[aria-expanded=true] + .content {
    max-height: 16em;
  }
}
.faq-section .wrapper .content {
  opacity: 0;
  max-height: 0;
  transition: opacity 200ms linear, max-height 200ms linear;
}
.faq-section .wrapper .content p {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  margin-block: 0.75rem;
}

.accordion-title {
  width: 100%;
  max-width: 100%;
  border: 2px solid transparent;
}

.update-section {
  background-color: #403579;
  background-image: url(../public/summer-background-sea-water3.png);
  background-blend-mode: luminosity;
  background-size: cover;
}
.update-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-block: 10rem;
}
.update-section .wrapper .tagline {
  font-weight: 700;
  color: white;
}
.update-section .wrapper h2 {
  max-width: 20ch;
  text-align: center;
  margin-block-end: 2rem;
}
.update-section .wrapper img {
  position: absolute;
  width: 42%;
  bottom: 0;
  right: 0%;
}
@media (max-width: 700px) {
  .update-section .wrapper {
    padding-block-end: 0;
  }
  .update-section .wrapper img {
    position: static;
    width: 100%;
  }
}

.contact-section {
  background-image: linear-gradient(rgba(3, 3, 3, 0.5568627451), rgba(3, 3, 3, 0.5568627451)), url(../public/images/contact.png);
  background-size: cover;
  background-position: center;
}
.contact-section .wrapper {
  display: grid;
  place-items: center;
}
.contact-section .wrapper h2 {
  text-align: center;
  max-width: 10ch;
  margin-block-end: 2rem;
}
.contact-section .wrapper p {
  color: white;
  max-width: 32ch;
  margin-block-end: 4rem;
  text-align: center;
}
.contact-section .wrapper form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}
.contact-section .wrapper form button {
  color: #403579;
  background-color: #FFFFFF;
  border: 2px solid white;
}
.contact-section .wrapper form fieldset {
  border: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.contact-section .wrapper form fieldset.textarea,
.contact-section .wrapper form fieldset fieldset {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.contact-section .wrapper form fieldset input,
.contact-section .wrapper form fieldset textarea {
  padding: 0.75rem;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  border-radius: 0.25rem;
}
.contact-section .wrapper form fieldset input:focus,
.contact-section .wrapper form fieldset textarea:focus {
  outline: 2px solid white;
}
.contact-section .wrapper form fieldset label {
  color: white;
}

.file::-webkit-file-upload-button {
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 2rem;
  font-size: 12px;
  cursor: pointer;
}

.file::-moz-placeholder {
  font-family: "Poppins";
}

.file::placeholder {
  font-family: "Poppins";
}

footer .wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  padding-block-end: 2rem;
}
footer .wrapper .footer-top {
  width: 75%;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer .wrapper .footer-top .column {
  height: 100%;
  display: flex;
  align-items: flex-start;
}
footer .wrapper .footer-top .column ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
footer .wrapper .footer-top .column ul li,
footer .wrapper .footer-top .column ul a {
  color: #030303;
}
@media (max-width: 900px) {
  footer .wrapper .footer-top {
    width: 100%;
  }
}
@media (max-width: 700px) {
  footer .wrapper .footer-top {
    grid-template-columns: 1fr;
    width: 100%;
  }
  footer .wrapper .footer-top .column:nth-child(2), footer .wrapper .footer-top .column:nth-child(4), footer .wrapper .footer-top .column:nth-child(3) {
    grid-row: auto;
  }
}
@media (max-width: 500px) {
  footer .wrapper .footer-top {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  footer .wrapper .footer-top .column:nth-child(2), footer .wrapper .footer-top .column:nth-child(4), footer .wrapper .footer-top .column:nth-child(3) {
    grid-row: 2;
  }
}
footer .wrapper .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-block-start: 0.5px solid black;
  padding-block-start: 2rem;
  padding-block-end: 0;
}
@media (max-width: 327px) {
  footer .wrapper .footer-bottom {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 2rem;
  }
}
footer .wrapper .footer-bottom p {
  font-size: 14px;
  opacity: 0.5;
}
footer .wrapper .h0 {
  font-size: 176px;
  font-weight: 900;
  line-height: 1;
  align-self: start;
  margin-top: -2rem;
  margin-bottom: 0;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
footer .wrapper .h0 span svg {
  width: 35px;
  height: -moz-max-content;
  height: max-content;
}
@media (max-width: 700px) {
  footer .wrapper .h0 span svg {
    width: 15px;
  }
}

header .header-wrapper nav ul a:not(:nth-of-type(1)) li {
  position: relative;
}
header .header-wrapper nav ul a:not(:nth-of-type(1)) li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}
header .header-wrapper nav ul a:not(:nth-of-type(1)) li::after {
  content: "";
  width: 100%;
  height: 0.25rem;
  background-color: white;
  position: absolute;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}
header .header-wrapper nav ul a:nth-of-type(1) li {
  position: relative;
}
header .header-wrapper nav ul a:nth-of-type(1) li:hover::after {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}
header .header-wrapper nav ul a:nth-of-type(1) li::after {
  content: "";
  width: 100%;
  height: 0.25rem;
  background-color: white;
  position: absolute;
  bottom: 0;
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}

.loader {
  position: fixed;
  background-color: #403579;
  height: 100vh;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: 300ms ease;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.loader > svg {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 5rem));
  opacity: 0;
}
@media (max-width: 600px) {
  .loader > svg {
    width: 150px;
  }
}
.loader .svg-full {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.loader .svg-full svg {
  margin-block-end: 10rem;
  transform: translateX(30rem);
  width: 75px;
}
@media (max-width: 600px) {
  .loader .svg-full svg {
    width: 50px;
  }
}
.loader .svg-full svg:not(:nth-child(1)) {
  margin-inline-start: -0.5rem;
}
.loader .svg-full svg:nth-child(2) {
  width: 115px;
}
@media (max-width: 600px) {
  .loader .svg-full svg:nth-child(2) {
    width: 78px;
  }
}

.countdown {
  width: clamp(250px, 50%, 500px);
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-block: 4rem;
}

.box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  font-size: 16px;
}

.box:after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.12);
  height: 100%;
  width: 50%;
  left: 0;
}

span.num {
  background-color: #403579;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 5em;
  color: white;
}

span.text {
  font-size: 1.2em;
  background-color: #463B7D;
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
  font-weight: 400;
  color: white;
}

@media screen and (max-width: 768px) {
  .countdown {
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .box {
    width: calc(50% - 1rem);
    height: 30vmin;
    font-size: 14px;
  }
  .box:nth-child(3), .box:nth-child(4) {
    margin-block-start: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .countdown {
    gap: 0rem;
  }
  .box {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }
  .box:nth-child(2) {
    margin-block-start: 2rem;
  }
  .span.text {
    font-size: 1.5em;
  }
}/*# sourceMappingURL=style.css.map */