@use "./variables";
@use "./reset";
@use "./fonts";
@use "./button";
@use "./header";
@use "./main";
@use "./intro";
@use "./text";
@use "./excellence";
@use "./service-cards";
@use "./team";
@use "./faq";
@use "./question";
@use "./contact";
@use "./scroller";
@use "./footer";


// Loader 

.loader {
    position:fixed;
    background-color:white;
    height:100vh;
    z-index:10;
    width:100%;
    transition: 300ms ease;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    img {
        width:25%;
        position:absolute;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        transition:clip-path 300ms ease;
        // opacity:0;
    }
}


