@font-face {
  font-family: twk;
  src: url("../twk/TWKEverett-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: twk;
  src: url("../twk/TWKEverett-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: hell;
  src: url("../Helvetica-Font/Helvetica.ttf");
  font-weight: 400;
}
@font-face {
  font-family: hell;
  src: url("../Helvetica-Font/helvetica-light-587ebe5a59211.ttf");
  font-weight: 300;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: hell, sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}
img.icon {
  width: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

section,
main,
header,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .wrapper,
main .wrapper,
header .wrapper,
footer .wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 12rem 4rem;
}
@media (max-width: 700px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 1rem;
  }
}

h1 {
  font-size: 96px;
  line-height: 1.2;
  color: white;
  font-weight: 700;
  font-family: twk;
}

h2 {
  font-size: 60px;
  line-height: 1.2;
  color: white;
  font-weight: 700;
  font-family: twk;
}
@media (max-width: 700px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-size: 24px;
  line-height: 1.2;
  color: white;
  font-weight: 700;
  font-family: twk;
}

p {
  line-height: 1.6;
  font-weight: 300;
  font-size: 16px;
}
p.tagline {
  font-size: 14px;
}
p.large {
  font-size: 24px;
  line-height: 1.2;
}
p.number {
  font-size: 60px;
  line-height: 1.2;
  font-family: twk;
}

.purple {
  color: #403579;
}

button {
  font-weight: 700;
  padding: 1rem 2.5rem;
  cursor: pointer;
  border-radius: 2rem;
}
button.primary-button {
  border: 1px solid #403579;
  color: white;
  background-color: #403579;
}
button.secondary-button {
  border: 1px solid white;
  color: white;
  background-color: transparent;
}

header {
  position: absolute;
  z-index: 10;
}
header .header-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-wrapper nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
header .header-wrapper nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
header .header-wrapper nav ul li {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-wrapper .header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  header nav {
    display: none !important;
  }
}

main {
  background-image: url(../public/images/home-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 95svh;
  max-height: 950px;
  background-attachment: fixed;
}
main .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-block: 5rem;
  -webkit-padding-before: 14rem;
          padding-block-start: 14rem;
  height: 100%;
}
main .wrapper .main-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .wrapper .main-top > svg {
  width: clamp(300px, 40vw, 400px);
}
main .wrapper .main-top p {
  font-size: 24px;
  color: white;
  text-align: center;
  font-weight: 400;
}
main .wrapper .main-bottom {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
main .wrapper .main-bottom .main-bottom-left {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}
main .wrapper .main-bottom .main-bottom-left svg {
  width: 50%;
}
main .wrapper .main-bottom .main-bottom-left p {
  color: white;
  max-width: 40ch;
}
main .wrapper .main-bottom .main-bottom-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
main .wrapper .main-bottom .main-bottom-right .stat-item {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-left: 1px solid white;
  padding-inline: 0.5rem;
}
main .wrapper .main-bottom .main-bottom-right .stat-item .number-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .wrapper .main-bottom .main-bottom-right .stat-item:nth-child(1) {
  border: none !important;
}
main .wrapper .main-bottom .main-bottom-right .stat-item > p {
  max-width: 10ch;
  line-height: 1.2;
}
@media (max-width: 1024px) {
  main {
    height: 100svh;
  }
  main .wrapper .main-bottom {
    flex-direction: column;
    align-items: center !important;
    gap: 4rem;
  }
  main .wrapper .main-bottom .main-bottom-left {
    gap: 1rem;
  }
  main .wrapper .main-bottom .main-bottom-left p {
    max-width: 45ch;
  }
  main .wrapper .main-bottom .main-bottom-right .stat-item {
    padding-inline: 2rem;
  }
}
@media (max-width: 700px) {
  main .wrapper .main-top p {
    font-size: 20px !important;
    line-height: 1.2;
    max-width: 16ch;
    text-wrap: balance !important;
  }
  main .wrapper .main-bottom .main-bottom-left p {
    font-size: 14px !important;
    max-width: 28ch;
  }
  main .wrapper .main-bottom .main-bottom-right .stat-item {
    padding-inline: 0.5rem;
  }
}
@media (max-width: 394px) {
  main .wrapper .main-top > svg {
    width: clamp(225px, 85vw, 300px);
  }
  main .wrapper .main-bottom .main-bottom-left p {
    font-size: 14px !important;
  }
  main .wrapper .main-bottom .main-bottom-right .stat-item > p {
    max-width: 10ch;
    line-height: 1.2;
    font-size: 14px;
  }
  main .wrapper .main-bottom .main-bottom-right .stat-item .number-item .number {
    font-size: 40px;
  }
}

.excellence-section {
  border-radius: 32px 32px 0px 0px !important;
  margin-top: -2rem;
  z-index: 1;
  position: relative;
  background-color: white;
}
.excellence-section .wrapper {
  display: grid;
  place-content: center;
  grid-template-columns: 1.25fr 1fr;
  gap: 2rem;
}
.excellence-section .wrapper .excellence-left {
  width: 100%;
  height: 100%;
}
.excellence-section .wrapper .excellence-left h2 {
  color: #030303;
  max-width: 40ch;
}
.excellence-section .wrapper .excellence-left p {
  font-size: 16px;
  margin-block: 2rem;
  max-width: 60ch;
}
.excellence-section .wrapper .excellence-right {
  width: 100%;
  height: 100%;
}
.excellence-section .wrapper .excellence-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 978px) {
  .excellence-section .wrapper {
    grid-template-columns: 1fr;
    gap: 6rem;
    padding-top: 6rem;
  }
  .excellence-section .wrapper .excellence-right {
    grid-row: 1;
  }
}

.timeline-section .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.timeline-section .wrapper .timeline-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  border-top: 0.5px solid #030303;
  -webkit-padding-before: 2rem;
          padding-block-start: 2rem;
}
.timeline-section .wrapper .timeline-card .timeline-card-top p.large {
  -webkit-margin-before: 0.5rem;
          margin-block-start: 0.5rem;
}
.timeline-section .wrapper .timeline-card .timeline-card-top p.tagline {
  color: #403579;
  font-weight: 700;
}

.purple-services-section {
  background-color: #403579;
  color: white;
}
.purple-services-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12rem;
  position: relative;
}
.purple-services-section .wrapper h2 {
  max-width: 20ch;
}
.purple-services-section .wrapper svg {
  width: 2.25rem;
  height: -moz-max-content;
  height: max-content;
}
.purple-services-section .wrapper .purple-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  gap: 4rem;
}
.purple-services-section .wrapper .purple-grid .purple-grid-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  -webkit-border-start: 0.5px solid white;
          border-inline-start: 0.5px solid white;
  -webkit-padding-start: 2rem;
          padding-inline-start: 2rem;
}
.purple-services-section .wrapper .purple-grid .purple-grid-item:nth-child(1) {
  -webkit-border-start: 0px solid white;
          border-inline-start: 0px solid white;
  -webkit-padding-start: 0rem;
          padding-inline-start: 0rem;
}
.purple-services-section .wrapper .purple-grid .purple-grid-item p {
  width: 100%;
}
.purple-services-section .wrapper .purple-grid .purple-grid-item p:nth-of-type(1) {
  margin-block: 1rem 0.5rem;
  font-weight: 700;
  font-size: 24px;
}
.purple-services-section .wrapper .purple-grid .purple-grid-item p#title {
  line-height: 1.2 !important;
}
.purple-services-section .wrapper > svg {
  position: absolute;
  width: 67.5%;
  height: 100%;
  opacity: 0.05;
  right: -10%;
  top: 0;
}
@media (max-width: 700px) {
  .purple-services-section .wrapper .purple-grid {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    row-gap: 4rem !important;
    width: 100%;
  }
  .purple-services-section .wrapper .purple-grid .purple-grid-item:nth-child(1) {
    -webkit-padding-end: 2rem !important;
            padding-inline-end: 2rem !important;
  }
  .purple-services-section .wrapper .purple-grid .purple-grid-item:nth-child(3) {
    grid-column: span 2;
    width: 50%;
    place-self: center;
  }
  .purple-services-section .wrapper .purple-grid .purple-grid-item p {
    font-size: 14px;
  }
  .purple-services-section .wrapper .purple-grid .purple-grid-item p#title {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .purple-services-section .wrapper .purple-grid {
    grid-template-columns: 1fr 1fr;
  }
  .purple-services-section .wrapper .purple-grid .purple-grid-item {
    -webkit-padding-start: 1rem;
            padding-inline-start: 1rem;
  }
  .purple-services-section .wrapper .purple-grid .purple-grid-item:nth-child(1) {
    -webkit-padding-end: 1rem !important;
            padding-inline-end: 1rem !important;
  }
  .purple-services-section .wrapper .purple-grid .purple-grid-item:nth-child(3) {
    grid-column: span 2;
    width: 50%;
    place-self: center;
  }
}
@media (max-width: 350px) {
  .purple-services-section .wrapper .purple-grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .purple-services-section .wrapper .purple-grid .purple-grid-item {
    -webkit-padding-start: 1rem;
            padding-inline-start: 1rem;
  }
  .purple-services-section .wrapper .purple-grid .purple-grid-item:nth-child(3) {
    grid-column: span 2;
    width: 50%;
    place-self: center;
  }
}
@media (max-width: 320px) {
  .purple-services-section .wrapper .purple-grid {
    grid-template-columns: 1fr;
  }
  .purple-services-section .wrapper .purple-grid .purple-grid-item {
    -webkit-padding-start: 1rem;
            padding-inline-start: 1rem;
  }
  .purple-services-section .wrapper .purple-grid .purple-grid-item:nth-child(1) {
    -webkit-padding-start: 1rem !important;
            padding-inline-start: 1rem !important;
  }
  .purple-services-section .wrapper .purple-grid .purple-grid-item:nth-child(3) {
    grid-column: auto;
    width: 100%;
    place-self: center;
  }
  .purple-services-section .wrapper .purple-grid .purple-grid-item:nth-child(1) {
    -webkit-border-start: 0.5px solid white;
            border-inline-start: 0.5px solid white;
  }
}

.hire-section .wrapper .hire-card {
  background-image: linear-gradient(to top, rgba(3, 3, 3, 0.6156862745), rgba(3, 3, 3, 0.6156862745) 100%), url(../public/images/careers-image.png);
  background-size: cover;
  padding: 2rem;
  height: 90svh;
  max-height: 800px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.hire-section .wrapper .hire-card .hire-left .tag {
  color: #403579;
  letter-spacing: 0.5rem;
}
.hire-section .wrapper .hire-card .hire-left h2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 16ch;
  color: #FFFFFF !important;
}
.hire-section .wrapper .hire-card .hire-left h2 .white {
  color: #FFFFFF !important;
}
.hire-section .wrapper .hire-card .hire-left h2 .white:nth-child(2) {
  align-self: flex-end;
}

.cta-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta-section .wrapper .cta-button {
  display: flex;
  justify-content: flex-start;
  gap: 6rem;
}
.cta-section .wrapper h2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 24ch;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}
.cta-section .wrapper h2 span:nth-child(2) {
  align-self: flex-end;
  -webkit-margin-start: 6rem;
          margin-inline-start: 6rem;
}
.cta-section .wrapper p {
  max-width: 50ch;
}
.cta-section .wrapper button {
  align-self: flex-end;
}

footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8rem;
  -webkit-padding-after: 2rem;
          padding-block-end: 2rem;
}
footer .wrapper .footer-top {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
footer .wrapper .footer-top .column {
  height: 100%;
  display: flex;
  align-items: flex-start;
}
footer .wrapper .footer-top .column ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
footer .wrapper .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  -webkit-border-before: 0.5px solid black;
          border-block-start: 0.5px solid black;
  -webkit-padding-before: 2rem;
          padding-block-start: 2rem;
}
footer .wrapper .footer-bottom p {
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */